/**
 * Application-specific SCSS.
 * (c) twined 2015
 */

body {

}

p {
  font-size: 16px;
}

header#top {
  margin-top: 20px;
}

a.block-link {
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  width: 100%;
  text-align: center;
  border: 1px solid #D2D2D2;
  padding: 22px 0;
  margin: 20px 0;
  color: #222;
}

.page-fragment-missing {
  background-color: #FF6464;
  padding: 5px 10px;
  font-family: monospace;
  font-size: 11px;
  line-height: 15px;
}

@import
  "includes/colorbox",
  "includes/cookielaw",
  "includes/dropdown",
  "includes/instagram",
  "includes/nav",
  "includes/pages";