/**
 * Application-specific SCSS.
 * (c) twined 2016
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {}

p {
  font-size: 16px;
}

header#top {
  margin-top: 20px;
}

a.block-link {
  border: 1px solid #D2D2D2;
  color: #222;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 20px 0;
  padding: 22px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

/**
 * Imports
 */
@import "includes/general";
@import "includes/colorbox";
@import "includes/cookielaw";
@import "includes/dropdown";
@import "includes/instagram";
@import "includes/nav";
