<main id="content">
  <div class="client-header">
    <h2><%= @entry.title %></h2>
    <.picture src={@entry.cover} opts={[
      prefix: media_url(),
      lazyload: true,
      srcset: {E2eProject.Projects.Client, :cover},
      placeholder: :dominant_color,
      moonwalk: true
    ]} />
  </div>
</main>
