#content-header {
  @space margin-top xs;
  @space margin-bottom xs;
  flex-direction: column;

  .content {
    @row;
    align-items: flex-end;

    .main {
      @column 8/16;
    }

    .actions {
      @column 8/16;
      @fontsize lg;
      font-weight: 400;
      display: flex;
      justify-content: flex-end;

      column-gap: 20px;
    }
  }
}