#brando-main > .content {
  display: flex;
  flex-direction: column;
}

.content-list-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content-list { 
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .empty-list {
    @space padding-y 7vw;
    background-color: var(--brando-color-peach);
    border-radius: 33px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    figure {
      @space margin-bottom 1;
      opacity: 0.2;
    }
  }

  .sort-container {
    flex-grow: 1;
    margin-top: 0;
  }

  .pagination {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    padding-top: 10px;

    .pagination-entries {
      font-size: 12px;
      margin-right: 15px;
      margin-bottom: 5px;
    }

    .pagination-buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 5px;
    }

    button {
      width: 30px;
      height: 30px;
      border: 1px solid var(--brando-color-dark);
      border-radius: 50%;
      font-size: 13px;
      line-height: 1;
      transition: background-color 200ms ease;

      &.active {
        background-color: var(--brando-color-dark);
        color: var(--brando-color-peach);

        &:hover {
          color: var(--brando-color-dark);
        }
      }

      &:hover {
        background-color: var(--brando-color-peach);
      }

      &.limit-button {
        border: none !important;
        color: var(--brando-color-dark);
        width: auto !important;
        height: auto !important;
        background-color: transparent !important;
        margin-left: 0 !important;
        
        &:hover {
          color: var(--brando-color-dark);
        }

        &.active {
          text-decoration: underline;
        }
      }
    }
  }

  &.contentlist-empty {
    @fontsize h2;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
  }

  .list-tools-wrapper {
    @space margin-bottom 20px;
  }

  .list-tools {
    display: flex;

    > .statuses {
      background-color: var(--brando-color-input);
      display: flex;
      height: 100%;
      margin-right: 5px;
      min-height: 48px;
      align-items: center;

      .status {
        @font mono;
        align-items: center;
        display: flex;
        cursor: pointer;
        user-select: none;
        font-size: 15px;
        text-transform: uppercase;
        padding-left: 15px;
        padding-right: 15px;
        height: 48px;
        border: none;

        &.active {
          background-color: theme(colors.peachDarker);
        }        
      }

      .label {
        line-height: 1;
        padding-top: 1px;
        @display none <=ipad_landscape;
      }

      svg {
        margin-right: 9px;
        @space margin-right 0 <=ipad_landscape;

        circle {
          fill: theme(colors.status.published);

          &.draft {
            fill: theme(colors.status.draft);
          }

          &.pending {
            fill: theme(colors.status.pending);
          }

          &.published {
            fill: theme(colors.status.published);
          }

          &.disabled {
            fill: theme(colors.status.disabled);
          }

          &.deleted {
            fill: #111;
          }
        }
      }
    }

    .order, .trash {
      padding: 0 15px;
      min-height: 54px;
      height: 100%;
      display: flex;
      align-items: center;
      background-color: var(--brando-color-input);
      border-left: 5px solid #ffffff;
      transition: background-color 250ms ease;
    }

    .trash.trashSelected {
      background-color: theme(colors.peachDarker);
      transition: background-color 250ms ease;
    }

    .filters {
      width: 100%;
    }

    .filter {
      background-color: var(--brando-color-input);
      height: 48px;
      display: flex;
      align-items: center;
      display: none;

      &.visible {
        display: flex;
      }

      form {
        width: 100%;
      }

      input {
        @fontsize 1.2vw;
        background-color: transparent;
        padding-top: 11px;
        padding-bottom: 11px;
        padding-right: 15px;
        width: 100%;
        border: 0;

        &::placeholder {
          @fontsize 1.2vw;
        }

      }

      .filter-key {
        @font mono 12px;
        cursor: pointer;
        user-select: none;
        border: none;
        margin-top: 1px;
        margin-left: 15px;
        margin-right: 15px;

        span {
          white-space: nowrap;
          padding: 2px 5px;
          border: 1px solid theme(colors.blue);
        }
      }
    }

    .selected {
      @space container;
      background-color: var(--brando-color-dark);
      color: var(--brando-color-peach);
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 25px;
      padding-right: 15px;
      padding-top: 25px;
      padding-bottom: 25px;
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      z-index: 5;

      .circle {
        margin-left: 15px;
        margin-right: 15px;
        border: 1px solid var(--brando-color-peach);

        span {
          color: var(--brando-color-peach);
        }
      }

      .wrapper {
        margin-left: 25px;
      }
    }
  }

  &[data-level="1"] {
    margin-top: 1rem;
  }

  &[data-level="2"] {
    margin-bottom: 10px;

    .list-row {
      background-color: #f3f3f3 !important;
      border-radius: 0px;

      &:first-of-type {
        border-radius: 20px 20px 0px 0px;
      }

      &:last-of-type {
        border-radius: 0px 0px 20px 20px;
      }
    }
    .list-tools {
      display: none;
    }
  }

  + .content-list {
    .list-header:empty {
      display: none;
    }
  }

  .sequence-handle {
    cursor: move;

    &.center {
      margin: 0 auto;
    }
    span {
      width: 15px;
      height: 15px;
      background-color: var(--brando-color-dark);

      &:hover {
        background-color: var(--brando-color-blue);
      }
    }
  }

  a {
    border-bottom: none;
    position: relative;
    color: var(--brando-color-dark); 
  }

  .list-header {
    @row;
    font-weight: 500;
    padding-bottom: 10px;
  }

  .list-row {
    @space margin-y 2px;
    background-color: white;
    user-select: none;
    border-radius: 20px;
    transition: background-color 250ms ease;

    .main-content .status + div,
    .child-row .status + div {
      margin-left: 0 !important;
      padding-left: 0.7em;
    }    

    .main-content .svg svg {
      width: 100%;
      height: 100%;
    }

    .main-content > div:first-of-type {
      padding-left: 0.7em;
    }

    &:nth-of-type(odd) {
      background-color: #fafafa;

      .main-content .img-placeholder {
        background-color: #ffffff;
      }

      .main-content .circle-flag {
        background-color: #ffffff;
      }
    }

    &:nth-of-type(even) {
      .main-content .circle-flag {
        background-color: #fafafa;
      }
    }

    .checklist {
      display: flex;
      flex-direction: column;
      row-gap: 0.1em;

      .checklist-item {
        @font mono 13px;        
        width: fit-content;        
        display: flex;
        align-items: center;
        gap: 0.5em;
        
        &.true [data-icon] {
          border-radius: 50%;
          padding: 3px;
          background-color: #159f52;
        }
        
        &.false [data-icon] {
          border-radius: 50%;
          padding: 3px;
          background-color: #ff0000;
        }
      }
    }

    .url {
      a {
        background-color: #f4f4f4;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: background-color 250ms ease;

        &:hover {
          background-color: var(--brando-color-dark);

          span {
            background-color: white;
          }
        }
      }
      span {
        width: 0.9rem;
        height: 0.9rem;
        transition: background-color 250ms ease;
      }
    }

    .center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .entry-link {
      font-weight: 600;
      line-height: 120%;
      border-bottom: none;
      position: relative;
      color: var(--brando-color-dark); 
      text-decoration: none;
      text-decoration-color: transparent;
      transition: text-decoration-color 1s ease;

      &.smaller {
        font-size: 85%;
        font-weight: normal;
      }

      &:after {
        content: '→';
        opacity: 0.2;
        right: 0;
        color: var(--brando-color-dark); 
        transform: translate(3px, 1px);
        transition: transform 250ms ease, opacity 250ms ease, color 250ms ease;
        display: inline-block;
        width: 15px;
        height: 15px;
      }

      &:hover {
        text-decoration-color: var(--brando-color-blue);

        &:after {
          opacity: 1;
          transform: translate(6px, 1px);
        }
      }
    }

    &.phx-click-loading {
      background-color: theme(colors.peachDarker);
    }

    &.selected {
      &.phx-click-loading {
        background-color: #ffffff;
        &:nth-of-type(odd) {
          background-color: #fafafa;
        }
      }
      background-color: theme(colors.peachDarker);
    }

    &.deleted {
      background-color: #e8e8e8;
      transition: background-color 250ms ease;
    }

    .main-content, .child-row {
      @row;
      @space padding-top 10px;
      @space padding-bottom 10px;
      align-items: center;
      min-height: 50px;

      .padded {
        @space padding 15px;
      }

      .circular {
        img {
          border-radius: 50%;
          object-fit: cover;
          aspect-ratio: 1;
        }
      }

      .img-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--brando-color-input);
        border-radius: 50%;
        
        &:before {
          content: '';
          float: left;
          padding-top: 100%;
        }
      }

      .status {
        position: absolute;
        display: flex;
        border: 1px solid transparent;
        transition: border-color 350ms ease;
        margin-left: -1px;
        border-radius: 50%;
        margin-left: -37px;
        padding-left: 0 !important;

        &:hover {
          cursor: pointer;
          border: 1px solid var(--brando-color-dark);
        }

        .status-dropdown {
          border: 1px solid var(--brando-color-dark);
          position: absolute;
          background-color: var(--brando-color-peach);
          width: 200px;
          z-index: 1;
          margin-top: 5px;
          border-radius: 16px;
          padding: 12px;
          font-size: 16px;

          button {
            width: 100%;
            border: none;
            display: flex;
            align-items: center;

            svg {
              margin-right: 10px;
            }
          }
        }

        svg {
          border: 3px solid #fff;
          border-radius: 50%;
          box-sizing: content-box;

          circle {
            fill: theme(colors.blue);

            &.draft {
              fill: theme(colors.status.draft);
            }

            &.pending {
              fill: theme(colors.status.pending);
            }

            &.published {
              fill: theme(colors.status.published);
            }

            &.disabled {
              fill: theme(colors.status.disabled);
            }

            &.deleted {
              fill: #111;
            }
          }
        }
      }
    }
  }
}

.active-filters {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 13px;

  .filter {
    @font mono;
    background-color: #ffef45;
    border: 0;
    font-size: 12px;
    text-transform: uppercase;
    padding: 4px 10px 4px 4px;
    border-radius: 20px;
    margin-left: 5px;
    display: flex;
    gap: 5px;

    .icon-wrapper {
      display: inline-flex;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      align-items: center;
      justify-content: center;
    }

    [data-icon] {
      width: 16px;
      height: 16px;
    }

    &:hover {
      .icon-wrapper {
        background-color: var(--brando-color-dark);
      }
      [data-icon] {
        background-color: white;
      }
    }
  }
}

.exports {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: flex-end;
  background-color: var(--brando-color-input);
  margin-left: 5px;
  width: fit-content;
  padding: 0 12px;
  height: 48px;

  .circle-dropdown {
    margin-left: 8px;
    button svg .main-circle {
      stroke: var(--brando-color-dark);
    }
  }
}