<h1><%= gettext("Propagating configuration") %></h1>
<p>
<%= gettext("Please wait while we propagate the configuration to dependent image series") %>
</p>

  <div class="buttons m-t-md">
    <a href="<%= Brando.helpers.admin_image_path(@conn, :index) %>" class="btn btn-default">
      <i class="fa fa-list fa-fw m-r-sm"></i> <%= gettext("Back to index") %>
    </a>
  </div>
