body.auth {
  color: #333;
}

.auth .box {
  padding: 1em 3em 2em 3em;
  background-color: #fff;
  min-width: 400px;
  width: 400px;
  border: 15px solid #000;
  position: relative;

  .spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    top: 0;
    left: 0;
    display: none;

    i {
      font-size: 80px;
      margin: 0 auto;
      text-align: center;
      display: inherit;
      top: 38%;
      position: relative;
    }
  }

  span.version {
    float: right;
    font-weight: bold;
    font-size: 12px;
    color: #aaa;
  }

  p {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 15px;
  }
}

svg#triangles {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.auth .grid-frame {
  z-index: 9999;
}

.auth .grid-content {

}

.auth .grid-block {
  background-color: transparent;
}

.auth form label {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 5px;
}

.auth form .form-group {
  margin: 15px 0;

  input[type="email"],
  input[type="password"] {
    padding: 0 12px;
    width: 100%;
    border: 0;
    background-color: #F2F2F2;
    height: 50px;
    font-size: 20px;
  }
}

.auth h1 {
  border-bottom: 5px solid #E5E5E5;
  margin: 0;
  text-align: center;
  padding-bottom: 5px;
  display: block;
  font-size: 30px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.auth .btn-primary {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 40px !important;
  color: #333 !important;
  padding-top: 12px;
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 16px;
}
