body.auth {
  background-color: #E8E8E8;
  color: #333;
}

.auth .box {
  background-color: #fff;
  padding: 2em 3em 3em;
  position: relative;
  width: 350px;

  .spinner {
    background-color: #fff;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;

    i {
      display: inherit;
      font-size: 80px;
      margin: 0 auto;
      position: relative;
      text-align: center;
      top: 38%;
    }
  }

  p {
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  p.developers {
    font-size: 14px;
    font-weight: normal;
    padding-top: 0;
    text-transform: none;
  }

  span.version {
    color: #aaa;
    float: right;
    font-size: 12px;
    font-weight: bold;
  }

  textarea#comments {
    background-color: #f5f5f5;
    border: 0;
    font-family: "a-mono";
    font-size: 13px;
    height: 150px;
    padding: 5px;
    width: 100%;
  }
}

svg#triangles {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.auth .grid-frame {
  z-index: 9999;
}

.auth .grid-content {
  padding: 0;
}

.auth .grid-block {
  background-color: transparent;
}

.auth form label {
  display: block;
  font-weight: bold;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.auth form .form-group {
  margin: 15px 0;

  input[type="email"],
  input[type="password"] {
    background-color: #F2F2F2;
    border: 0;
    font-size: 20px;
    height: 50px;
    padding: 0 12px;
    width: 100%;
  }
}

.auth h1 {
  border-bottom: 5px solid #E5E5E5;
  color: #C10404;
  display: block;
  font-size: 8px;
  margin: 0 0 25px;
  padding-bottom: 5px;
  text-align: center;
  text-transform: uppercase;
}

.auth .btn-primary {
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 40px !important;
  color: #333 !important;
  font-size: 16px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-transform: uppercase;
}
