.has-error > label {
  color: #f00 !important;
}

.required > label:after {
  content:"*";
  color:red;
}

input[type=checkbox],
input[type=radio] {
  margin-right: 12px;
}

/* labels for input checkbox/radio etc */
form label {
  font-size: 15px;
}

.auth form label {
  display: block;
}

.auth form .form-group {
  margin: 15px 0;

  input[type="email"],
  input[type="password"] {
    padding: 10px 5px;
    width: 250px;
  }
}

.auth h1 {
  margin: 0;
}

.auth .grid-block {
  background-color: #fff;
}

.auth {
  background-color: #D3E7D1
}