body {
  color: #505050;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

.btn {
  text-shadow: 1px 1px 1px rgba(51, 51, 51, 0.28);

  .fa {
    border-right: 1px dotted rgba(0, 0, 0, 0.09);
    padding-right: 25px;
  }

  &.btn-xs {
    .fa {
      padding-right: 10px;
    }
  }

  &.btn-default {
    text-shadow: none;
  }
}

h1 {
  border-bottom: 2px solid #E2E2E2;
  color: #333;
  display: inline-block;
}

h4 {
  background-color: #292929;
  color: #fff;
  display: table;
  font-size: 13px;
  padding: 3px 6px;
  text-transform: uppercase;
}

.image-preview {
  margin-bottom: 15px;
  margin-top: 5px;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
}
