body {
  color: #717171
}

a {
  text-decoration: none;
}

h1 {
  border-bottom: 2px solid rgb(114, 114, 114);
  display: inline-block;
}

.image-preview {
  margin-top: 5px;
  margin-bottom: 15px;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
}