.help-box:before {
  content: "\f059";
  font-family: "fontawesome";
  font-size: 40px;
  position: absolute;
  left: 25px;
  top: 50%;
  line-height: 0;
  color: #b9cccc;
  text-shadow: 2px 2px 0px #fff;
}

.help-box {
  background-color: #e3f3f3;
  padding: 15px;
  font-size: 18px;
  position: relative;
  padding-left: 81px;
  box-shadow: 1px 1px 0px rgb(211, 228, 228);
}
