.image-serie {
  background-color: #fafafa;
  padding: 0 15px 15px 15px;
  border-bottom: 4px solid #ddd;

  h2 {
    margin-top: 0;
    padding-top: 10px;
  }

  img {
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    padding: 5px;
  }
}