.image-serie {
  background-color: #FFFFFF;
  padding: 0 15px 15px 15px;
  border: 1px solid #ddd;
  margin-bottom: 10px;

  &.uploaded-images {
    border: none;
    padding: 0;
  }

  h2 {
    margin-top: 0;
    padding-top: 10px;
    font-weight: normal;

    &:before {
      content: "";
      padding: 0;
      margin: 0;
    }
  }

  .image-wrapper {
    display: inline-block;
    position: relative;

    .overlay {
      position: absolute;
      top: 11px;
      right: 11px;
      background-color: #fff;
      visibility: hidden;
    }
  }

  .form-actions {}

  img {
    background-color: #ffffff;
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 0px rgba(170, 170, 170, 0.42);
    padding: 10px;
    transition: all 200ms ease;
    transition-property: background-color, box-shadow;
    margin: 5px;
  }

  img.selected {
    box-shadow: 0px 2px 16px #fb6b5b;
    transition: all 200ms ease;
    transition-property: background-color, box-shadow;
    margin: 5px;
    background-color: rgba(251, 107, 91, 0);
  }
}

.properties-popup {
  label {
    display: block;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
  }

  input[type=text] {
    width: 100%;
    padding: 5px 7px;
  }

  button {
    margin-top: 15px;
  }
}
