#log-wrapper {
    background-color: #f7f7f7;
    border-top: 3px solid #ff0000;
    display: none;
    min-width: 350px;
    max-width: 350px;

    #log-content {
      background-color: #fff;

      li {
        list-style-type: none;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        font-size: 0.9rem;
        font-weight: bold;

        .time {
          padding-right: 5px;
          font-weight: normal;
        }
      }
    }
}

