    <h1><%= t!(@language, "actions.edit") %></h1>
    <%= PageFragmentForm.get_form(@language, type: :update, action: :update, params: to_string(@id), changeset: @changeset) %>
    <%= Brando.Villain.HTML.initialize(
          base_url:     "/admin/pages/",
          image_series: "page",
          source:       "textarea[name=\"page_fragment[data]\"]") %>
