    <h1>Nytt sidefragment</h1>
    <%= PageFragmentForm.get_form(type: :create, action: :create, params: [], values: assigns[:page_fragment], errors: assigns[:errors]) %>
     <script type="text/javascript">
        $(document).ready(function() {
          v = new Villain.Editor({
            browseURL: 'villain/bla/page/',
            uploadURL: 'villain/last-opp/page/',
            textArea: 'textarea[name="page_fragment[data]"]'
          });
        });
     </script>