.blocks-wrapper {
  padding: 0.7rem;
  background-color: var(--brando-color-peach);

  .modules {
    @space margin-bottom 15px;
  }

  [data-block-type="container"] & {
    padding: 0;
    background-color: transparent;
  }

  > [data-block-uid] {
    &.is-sorting {
      opacity: 0.5;

      .block-plus {
        opacity: 0;
      }
    }
  }
}

.btn-stealth {
  display: flex;
  font-size: 15px;
  align-items: center;
  margin-left: auto;
  padding: 8px 14px;
  border-radius: 20px;
  border: 1px solid var(--brando-color-dark);
  color: var(--brando-color-dark);
  transition: background-color 350ms ease;

  &:hover {
    background-color: var(--brando-color-peach);
    svg {
      opacity: 1;
    }
  }

  svg {
    opacity: 0.7;
    margin-right: 9px;
    transition: opacity 350ms ease;
  }
}

.btn-icon-subtle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  border-radius: 20px;
  border: none;
  color: var(--brando-color-dark);
  transition: background-color 350ms ease;

  &[disabled] {
    opacity: 0.2;
    pointer-events: none;
  }

  &:hover {
    background-color: var(--brando-color-peach);
    svg {
      opacity: 1;
    }
  }

  svg {
    opacity: 0.7;
    transition: opacity 350ms ease;
  }
}

section.alert.danger {
  background-color: yellow;
  margin: 15px 0;
  padding: 15px;
  font-size: 14px;
}

.blocks-empty-instructions {
  text-align: center;
  @space margin-y 25px;
}

.blocks-templates {
  width: 28vw;
  margin: 0 auto;
  margin-top: 2vw;

  button {
    border: 1px solid;
    width: 100%;
    padding: 1vw;
    font-weight: 500;

    small {
      font-weight: 400;
    }

    &:hover {
      background-color: var(--brando-color-peach);
    }

    + button {
      margin-top: -1px;
    }
  }
}

.namespace-button {
  background-color: var(--brando-color-dark);
  color: var(--brando-color-peach);
  border: none;
  border-top: 3px solid white !important;
  border-bottom: 3px solid white !important;
  transition: background-color 350ms ease;

  figure {
    min-width: 35px;
    transition: transform 350ms ease;
  }

  &.active {
    background-color: black;
    figure {
      transform: rotate(90deg);
      transform-origin: center center;
    }
  }

  &:hover {
    background-color: black;
  }

  .info .name {
    text-transform: uppercase;
  }
}

.module-button {
  border: none;
  border-bottom: 1px solid #f0f0f0;

  figure {
    min-width: 115px;
    svg {
      width: 115px;
      height: auto;
    }
  }

  &:hover {
    background-color: var(--brando-color-peach);
  }
}

.builtin-button {
  @fontsize button;
  border: 1px solid #666;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  &:hover {
    background-color: var(--brando-color-peach);
  }

  svg {
    width: 20px;
    height: auto;
    margin-right: 12px;
    margin-top: -4px;
  }
}
  
.namespace-modules + .namespace-button {
  margin-top: -1px;
}

.namespace-modules + .module-button {
  margin-top: -1px;
}

.module-button, .namespace-button {
  @fontsize button;  
  padding: 15px;
  display: flex;
  align-items: center;
  width: 100%;

  + .module-button {
    margin-top: -1px;
  }

  + .namespace-button {
    margin-top: -1px;
  }

  + .namespace-modules {
    margin-top: -1px;
  }

  .info {
    @space margin-left 15px;
    text-align: left;

    .name {
      font-weight: 500;
    }

    .instructions {
      @space padding-top 3px;
      @fontsize sm;
    }
  }
}

.namespace-modules {
  display: none;

  &.active {
    display: block;
  }
}