.gallery-block {
  .file-input {
    display: none;
  }

  .images {
    @space margin-top 15px;
  }

  .images-grid {
    @row 3/wrap/1em desktop_md;
    @row 4/wrap/1em desktop_lg;
    @row 5/wrap/1em desktop_xl;

    .preview {
      @column 4/12 desktop_md;
      @column 3/12 desktop_lg;
      @column 2/10 desktop_xl;
      background-color: var(--brando-color-peach);
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      figcaption {
        padding-top: 15px;
      }

      .delete-x {
        cursor: pointer;
        z-index: 1;
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: var(--brando-color-dark);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          background-color: white;
        }

        .text {
          display: none;
        }
      }
    }
  }

  .caption-editor {
    .caption-row {
      @row 2;
      @space margin-bottom 15px;

      > figure {
        @column 2/8;
      }

      > div {
        @column 6/8;
      }
    }
  }

  .images-list {
    width: 100%;

    .preview {
      @row 3;
      @space margin-bottom 1vw;
      background-color: var(--brando-color-peach);
      padding: 10px;
      align-items: center;

      .image-content {
        @column 2/12 desktop_xl;
        @column 2/12 desktop_lg;
        @column 2/12 desktop_md;
        @order 0;
      }

      figcaption {
        @order 1;
        @column 7/12;
        @fontsize sm;
        padding-left: 15px;
        margin-left: 15px;
        align-self: flex-start;
        display: flex;
        row-gap: 2em;

        div {
          @space margin-bottom 8px;
          width: 30%;
          display: block;
          text-align: left;
        }
      }

      button {
        @order 2;
        margin-left: auto;
        align-self: flex-start;
        @font mono;
        border-radius: 5px;
        border: 1px solid var(--brando-color-dark);
        color: var(--brando-color-dark);
        font-size: 11px;
        display: inline-block;
        text-transform: uppercase;
        padding: 4px 7px;
        transition:
          background-color 0.35s ease,
          color 0.35s ease;
        display: flex;
        align-items: center;
        gap: 0.5em;

        [data-icon] {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .empty {
    background-color: var(--brando-color-peach);
    color: var(--brando-color-dark);
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3vw;
    border-radius: 25px;

    &.hidden {
      display: none !important;
    }

    figure {
      @space margin-bottom 35px;

      svg {
        width: 200px;
        user-select: none;
        pointer-events: none;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }

    .instructions {
      font-size: 16px;

      button {
        margin-top: 10px;
      }
    }
  }

  .upload-canvas {
    &.dragging {
      background-color: theme(colors.peachDarker) !important;
      cursor: plus;

      svg .plus {
        backface-visibility: hidden;
      }
    }
  }

  .image-picker-images {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;

    .image-picker-image {
      border: 5px solid transparent;

      &.selected {
        border: 5px solid theme(colors.blue);
      }

      &.hidden {
        display: none;
      }
    }
  }

  .modal-content {
    .buttons {
      @space margin-bottom 15px;
    }

    .image-info {
      @space margin-top 15px;
      @fontsize 13px;
    }

    .img-placeholder {
      background-color: var(--brando-color-peach);
      color: var(--brando-color-dark);
      padding: 2vw;

      .instructions {
        text-align: center;
        font-size: 15px;
      }

      svg {
        @space margin-bottom 1.5vw;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
        pointer-events: none;
        width: 200px;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }
  }
}
