.module-block {
  .important-vars {
    background-color: var(--brando-color-peach);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

    .field-wrapper {
      @space margin-bottom 1;
    }

    .tiptap-wrapper {
      background-color: var(--brando-color-white);
    }

    input.text, textarea.text {
      background-color: var(--brando-color-white);
      color: var(--brando-color-dark);
      @fontsize sm;

      &::placeholder {
        @fontsize sm;
      }
    }
  }

  .rendered-variable {
    background-color: yellow;
    padding: 0.5em 1em;
    width: fit-content;
    border-radius: 50px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .modal-content {
    .var, .ref {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
      align-items: center;

      .key {
        @font mono;
        font-weight: 600;
      }
    }
  }
}

.module-entries {
  padding: 1rem;
  background-color: gold;
  margin-bottom: 1rem;

  .add-module-entry {
    @font mono;
    @fontsize 16px;

    width: 100%;
    border: none;
    background-color: var(--brando-color-white);
    border-radius: 35px;
    padding: 1rem;
    transition: background-color 350ms ease, color 350ms ease;

    &.phx-click-loading {
      color: var(--brando-color-dark);
      color: var(--brando-color-peach);
    }
  }
}