.picture-block {
  .file-input {
    display: none;
  }

  .preview.compact {
    @font mono 13px;
    display: flex;
    align-items: stretch;
    border: 1px dashed #3b3b3b;
    border-radius: 8px;
    padding: 8px 25px 8px 8px;
    width: fit-content;
    column-gap: 12px;

    .info-wrapper {
      max-width: 37ch;
      display: flex;
      flex-direction: column;
      row-gap: 7px;
    }

    .title-and-alt {
      @font main;
      font-size: 12px;
      display: flex;
      flex-direction: column;
      row-gap: 7px;

      > div span {
        @font mono;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: normal;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 0;
      height: 100%;
      font-size: 13px;
      cursor: auto;
      text-align: left;

      button.tiny {
        margin-top: 7px;
      }
    }
  }

  .preview.classic {
    figcaption {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      button.tiny {
        margin-top: 0;
      }

      .info-wrapper {
        display: flex;
        column-gap: 15px;

        .title-and-alt {
          display: flex;
          column-gap: 15px;

          > * {
            max-width: 26ch;
          }
        }
      }
    }
  }

  .empty {
    background-color: transparent;
    color: var(--brando-color-dark);
    border: 1px dashed var(--brando-color-dark);
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3vw;
    border-radius: 25px;

    &.hidden {
      display: none !important;
    }

    figure {
      @space margin-bottom 35px;

      svg {
        width: 200px;
        user-select: none;
        pointer-events: none;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }

    .instructions {
      font-size: 16px;

      button {
        margin-top: 10px;
      }
    }
  }

  .upload-canvas {
    &.dragging {
      background-color: theme(colors.peachDarker) !important;
      cursor: plus;

      svg .plus {
        backface-visibility: hidden;
      }
    }
  }

  .image-picker-images {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
  }

  .modal-content {
    .image-info {
      @space margin-top 15px;
      @fontsize 13px;
    }

    [data-name="TipTap"] .ProseMirror {
      text-align: left;
    }

    .img-placeholder {
      background-color: var(--brando-color-peach);
      color: var(--brando-color-dark);
      padding: 2vw;

      .instructions {
        text-align: center;
        font-size: 15px;
      }

      svg {
        @space margin-bottom 1.5vw;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
        pointer-events: none;
        width: 200px;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }
  }
}

.image-content {
  position: relative;

  .compact & {
    margin: 0 !important;
    width: 180px;
  }

  img {
    position: relative;

    background-image: linear-gradient(45deg, #ccc 25%, transparent 25%),
      linear-gradient(135deg, #ccc 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #ccc 75%),
      linear-gradient(135deg, transparent 75%, #ccc 75%);
    background-size: 24px 24px; /* Must be a square */
    background-position:
      0 0,
      12px 0,
      12px -12px,
      0px 12px; /* Must be half of one side of the square */
  }
}
