.svg-block {

  &.dragging {
    .empty {
      background-color: theme(colors.peachDarker) !important;
      cursor: plus;
    }
  }

  .empty {
    background-color: var(--brando-color-peach);
    color: var(--brando-color-dark);
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3vw;
    border-radius: 25px;

    &.hidden {
      display: none !important;
    }

    figure {
      @space margin-bottom 35px;

      svg {
        width: 200px;
        user-select: none;
        pointer-events: none;

        path:nth-of-type(2), .plus, circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }

    .instructions {
      font-size: 16px;

      button {
        margin-top: 10px;
      }
    }
  }

  .block-content {
    .video-content {
      height: 0;
      padding-top: 56.25%;
      position: relative;
      width: 100%;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    video.villain-video-file {
      width: 100%;
    }
  }

  .image-picker-images {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
  }

  .modal-content {
    .image-info {
      @space margin-top 15px;
      @fontsize 13px;
    }

    .img-placeholder {
      background-color: var(--brando-color-peach);
      color: var(--brando-color-dark);
      padding: 2vw;

      .instructions {
        text-align: center;
        font-size: 15px;
      }

      svg {
        @space margin-bottom 1.5vw;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
        pointer-events: none;
        width: 200px;

        path:nth-of-type(2), .plus, circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }
  }
}
