.video-block {
  .video-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hidden {
      display: none;
    }
  }

  .preview.compact {
    @font mono;
    font-size: 13px;
    display: flex;
    align-items: stretch;
    border: 1px dashed #3b3b3b;
    border-radius: 8px;
    padding: 8px 25px 8px 8px;
    width: fit-content;
    column-gap: 12px;

    .video-info {
      figcaption {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 0;
        height: 100%;
        font-size: 13px;
        cursor: auto;
      }

      .info-wrapper {
        max-width: 37ch;
        display: flex;
        flex-direction: column;
        row-gap: 7px;

        span {
          display: block;
          text-transform: uppercase;
          font-size: 10px;
          font-weight: normal;
        }
      }
    }

    .video-content {
      height: auto;
      padding-top: 0;

      &.landscape {
        width: 400px;
      }

      &.portrait {
        width: 240px;
      }
    }
  }

  .empty {
    background-color: transparent;
    color: var(--brando-color-dark);
    border: 1px dashed var(--brando-color-dark);
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 3vw;
    border-radius: 25px;

    &.hidden {
      display: none !important;
    }

    figure {
      @space margin-bottom 35px;

      svg {
        width: 200px;
        user-select: none;
        pointer-events: none;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }

    .instructions {
      font-size: 16px;

      button {
        margin-top: 10px;
      }
    }
  }

  .block-content {
    .video-content {
      height: 0;
      padding-top: 56.25%;
      position: relative;
      width: 100%;

      iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }
    }

    video.villain-video-file {
      width: 100%;
    }
  }

  .modal-content {
    .image-info {
      @space margin-top 15px;
      @fontsize 13px;
    }

    .img-placeholder {
      background-color: var(--brando-color-peach);
      color: var(--brando-color-dark);
      padding: 2vw;

      .instructions {
        text-align: center;
        font-size: 15px;
      }

      svg {
        @space margin-bottom 1.5vw;
        margin-left: auto;
        margin-right: auto;
        user-select: none;
        pointer-events: none;
        width: 200px;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }
  }
}
