/_build
/bower_components
/deps
/tmp
erl_crash.dump
*.ez
.DS_Store
brando.sublime-workspace
.sass-cache
node_modules
brando.sublime-project
excoveralls.post.json
doc
cover
npm-debug.log
/.elixir_ls
/.vscode
/priv/templates/brando.install/assets/backend/.yalc
