[Unit]
Description=<%= application_name %> production
After=network.target
[Service]
Type=simple
User=<%= application_name %>
Group=<%= application_name %>
Restart=no
Environment=MIX_ENV=prod
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=PLUG_TMPDIR=/tmp/<%= application_name %>
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=HOME=/home/<%= application_name %>
WorkingDirectory=/sites/prod/<%= application_name %>
ExecStart=/sites/prod/<%= application_name %>/bin/<%= application_name %> foreground
ExecStop=/sites/prod/<%= application_name %>/bin/<%= application_name %> stop
[Install]
WantedBy=multi-user.target
