<div id="admin" phx-hook="Brando.Admin">
  <%= if @socket_connected do %>
    <%= live_component @socket, BrandoAdmin.Components.ContentLanguageSwitch,
      id: "content-language-switch",
      current_user: @current_user %>
    <main id="brando-main">
      <article class="content">
        <%= @inner_content %>
      </article>
    </main>
  <% end %>
</div>
