<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= Brando.config(:app_name) %> | Coming soon</title>
    <link rel="stylesheet" href="<%= Brando.helpers.static_path(@conn, "/css/app.css") %>">
    <script src="<%= Brando.helpers.static_path(@conn, "/js/jquery.js") %>"></script>
  </head>
  <body id="lockdown">
    <section class="container">
      <%= render @view_module, @view_template, assigns %>
    </section>

    <script src="<%= Brando.helpers.static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= Brando.helpers.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
