<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= Brando.HTML.render_meta(@conn) %>

    <title><%= Brando.Utils.get_page_title(@conn) %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <script src="<%= static_path(@conn, "/js/jquery.js") %>"></script>
  </head>
  <body>
  <!--
    <section class="cookie-container">
      <section class="container">
        <%= Brando.HTML.cookie_law @conn,
          "This webpage uses cookies for responsive design and analytics. " <>
          "You can turn these off in your browser.",
          "Accept & dismiss" %>
        <hr class="mobile-hide">
      </section>
    </section>
  -->
  <%= if Brando.Utils.current_user(@conn) do %>
    <div class="admin-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img class="micro-avatar" src="<%= Brando.Utils.img_url(Brando.Utils.current_user(@conn).avatar, :micro, [default: Brando.helpers.static_path(@conn, "/images/brando/defaults/avatar_default.jpg"), prefix: Brando.Utils.media_url()]) %>" />
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <li><a href="<%= admin_dashboard_path(@conn, :dashboard) %>">Admin</a></li>
            <li><a href="<%= session_path(@conn, :logout) %>">Logg ut</a></li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>

<!-- :header - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
    <header class="navbar navbar-static-top" id="top" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Neva</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse pull-right">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu</a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="">Submenu</a></li>
                <li><a href="">Submenu</a></li>
              </ul>
            </li>
            <li>
              <a href="">Menu</a>
            </li>
            <li>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
<!-- /header - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->

<!-- :content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <section class="container">
      <%= @inner %>
    </section>
<!-- /content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
    <%= Brando.HTML.analytics("UA-XXXXX-X") %>
  </body>
</html>
