<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= Brando.Utils.app_name() %> | Coming soon</title>
    <link rel="stylesheet" href="<%%= static_path(@conn, "/css/app.css") %>">
    <script src="<%%= static_path(@conn, "/js/jquery.js") %>"></script>
  </head>
  <body id="lockdown">
    <section class="container">
      <%%= @inner %>
    </section>

    <script src="<%%= static_path(@conn, "/js/vendor.js") %>"></script>
    <script src="<%%= static_path(@conn, "/js/app.js") %>"></script>
    <%%= Brando.HTML.google_analytics("UA-XXXXX-X") %>
  </body>
</html>
