.alert {
  font-size: 1.1rem;
  margin-top: 15px;
  padding: 12px 10px 10px 15px;
  color: #fff;

  a {
    color: #fff;
    text-decoration: underline;

    &.close {
      text-decoration: none;
      color: #333;
    }
  }

  &.alert-info {
    background-color: #4AAE66;
    border-bottom: 4px solid #299848;
  }

  &.alert-notice {
    background-color: #4AAE66;
    border-bottom: 4px solid #299848;
  }

  &.alert-danger {
    background-color: #C04040;
    border-bottom: 4px solid #9D2828;
  }

  &.alert-warning {
    background-color: #F7D941;
    border-bottom: 4px solid #C7AF31;
    color: #333;
  }
}
