.alert {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 12px 10px 10px 15px;
  color: #fff;

  &.alert-info {
    background-color: #4AAE66;
    border-bottom: 4px solid #299848;
  }

  &.alert-danger {
    background-color: #C04040;
    border-bottom: 4px solid #9D2828;
  }
}
