#content-wrapper {
  border-top: 3px solid orange;
  background-color: #f7f7f7;
  padding: 10px;
}

#content {
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  padding: 0 2rem 2rem 2rem;
}