.expander {
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 20px;

  .expander-content {
    margin-left: 21px;
  }

  .expander-hidden + .expander-content {
    display: none;
  }

  .expander-trigger {
    display: block;

    &:before {
      color: #bf0000;
      content: "\25BC";
      margin-right: 0.5em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      border-bottom: 3px solid #ddd;
      cursor: pointer;
      display: inline-block;
      margin: 0;
    }
  }

  .expander-trigger.expander-hidden {
    &:before {
      color: #bf0000;
      content: "\25B6";
    }
  }
}
