
@font-face {
  font-family: "a-regular"; font-style: normal; font-weight: normal;
  src: url('/fonts/ar.woff');
}

@font-face {
  font-family: "a-regular"; font-style: normal; font-weight: bold;
  src: url('/fonts/ab.woff');
}

@font-face {
  font-family: "a-mono"; font-style: normal; font-weight: bold;
  src: url('/fonts/am.woff');
}