body {
  color: #717171;
  overflow-y: hidden;
}

a {
  text-decoration: none;
}

h1 {
  border-bottom: 2px solid #E2E2E2;
  color: #333;
  display: inline-block;
}

h4 {
  text-transform: uppercase;
  font-size: 13px;
  color: #fff;
  background-color: #292929;
  padding: 3px 6px;
  display: table;
}

.image-preview {
  margin-top: 5px;
  margin-bottom: 15px;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
}
