.card {
  background-color: #FFFFFF;
  padding: 15px;
  box-shadow: 3px 3px #E2F4F7;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 330px;
  height: 235px;

  .card-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    background-color: #fafafa;

    .display {
      font-family: "a-mono";
      font-size: 30px;
    }
  }

  a {
    text-transform: uppercase;
    font-size: 11px;
  }

  .text {
    font-size: 12px;
    margin-top: 5px;
    font-family: "a-mono";
  }

  .status {
    font-size: 11px;
    margin-bottom: 8px;
  }

  h4 {
    margin: 0 0 9px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "a-mono";
  }
}

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

#logs {
  pre {
    background-color: #FFFFD0;
    padding: 25px;
    font-family: "a-mono";
    font-size: 13px;
    color: #585858;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
}

#memoryinfo, #processinfo {
  padding: 15px;
  margin-bottom: 10px;

  h3 {
    margin-top: 0;
  }
}

#processinfo {
  background-color: #E0FFD0;
}

#memoryinfo {
  background-color: #E9F5F7;
}
