/**
 * Dropdown menu
 * (c) twined 2015
 */

.dropdown-menu {
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-menu > li > a {
  padding: 3px 15px;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
  background-color: white;
  text-decoration: underline;
}