.picker {
  position: relative;
  cursor: pointer;

  .picker_hue,
  .picker_sl,
  .picker_alpha {
    display: none;
  }

  .circle-and-hex {
    display: flex;
    align-items: center;

    .subform-entry & {
      padding-top: 6px;
    }

    .color-hex {
      @font mono;
      @fontsize 16px;
      margin-left: 15px;
    }

    .circle.tiny + .color-hex {
      margin-left: 10px;
    }
  }

  button.clear-color {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 10px;
    opacity: 0.4;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}

[data-picker] .picker {
  .picker_hue,
  .picker_sl {
    display: block;
  }
}

[data-opacity] .picker {
  .picker_alpha {
    display: block;
  }
}

.picker_wrapper .picker_palette {
  width: 100%;
  order: 1;
  display: flex;
  margin-top: 5px;
  margin-bottom: 5px;
  flex-wrap: wrap;
}

.picker_wrapper .picker_splotch {
  width: 25px;
  height: 25px;
  border-radius: 50%;

  margin-right: 5px;

  &:last-of-type {
    margin-right: 0;
  }
}

.picker_wrapper .picker_splotch:hover {
  cursor: pointer;
}

.picker_wrapper .picker_splotch.picker_splotch_active {
  border: 2px dotted yellow;
}
