.file-preview {
  display: flex;
  border: 1px dashed var(--brando-color-dark);
  border-radius: 8px;
  padding: 8px 25px 8px 8px;
  width: fit-content;

  .file-info {
    @font mono;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 12px;

    .tiny {
      width: fit-content;
      margin-top: 5px;
    }
  }

  .name {
    @fontsize 13px;
  }

  .updated {
    font-size: 10px;
    opacity: 0.8;
  }

  .img-placeholder {
    background-color: var(--brando-color-input);
    width: 90px;
    height: 90px;
    min-width: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .shaded & {
      @color bg white;
    }
  }
}
