.dragging {
  .drop-indicator {
    display: flex !important;
    transition: background-color 350ms ease;
  }
}

.input-gallery {
  position: relative;

  .gallery-empty {
    @fontsize 16px;
    text-align: center;
    @space padding-y 15px;
  }

  .button-group {
    @space margin-bottom 10px;
    display: flex;
    justify-content: stretch;

    > * {
      flex-grow: 1; 

      &:last-of-type {
        border-radius: 0 18px 18px 0;
      }
    }

    button {
      @fontsize 15px;
      padding: 10px 15px 10px;
      margin-top: 0 !important;
      margin-left: -1px;
      min-width: auto;

      &[disabled] {
        color: #888;

        &:hover {
          background-color: transparent;
          cursor: not-allowed;
        }
      }
    }

    .file-input-wrapper {
      position: relative;
      flex-grow: 1; 
      @fontsize 15px;
      border-radius: 18px 0 0 18px;
      padding: 10px 25px 10px;
      border: 1px solid var(--brando-color-dark) !important;
      color: var(--brando-color-dark); 
      background-color: transparent;
      transition: background-color 0.25s ease, border-color 0.25s ease;

      &:hover {
          background-color: var(--brando-color-peach);
      }

      span.label {
        width: 100%;
        position: relative;
        z-index: 0;
        display: inline-block;
        cursor: pointer;    
        /* white-space: nowrap; */
        text-align: center;
      }

      input[type=file] {
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
    }
  }

  .image-previews {
    display: flex;
    @row 4/wrap/1;

    .image-preview {
      @column 2/8;  
      position: relative;

      img {
        user-select: none;
        pointer-events: none;
      }

      &.sort-handle {
        cursor: move;
      }

      &.selected {
        border: 5px solid theme(colors.blue);
      }

      .overlay {
        position: absolute;
        bottom: 7px;
        left: 4px;
        right: 0;
        height: 25px;
        opacity: 0;
        transition: opacity 350ms ease;

        button {
          @color bg white;
          @fontsize 14px;
          border: none;
          text-transform: uppercase;
          text-align: center;
          padding: 6px 10px 4px;
          border-radius: 12px;
        }
      }

      &:hover {
        .overlay {
          opacity: 1;
        }
      }
    }


    .img-placeholder {
      background-color: var(--brando-color-input);
      border-radius: 50%;
      width: 100px;
      height: 100px;
      min-width: auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .secondary + .file-input-wrapper {
    .label {
      border-top: none;
    }
  }

  .drop-target {
    position: relative;
    display: contents;

    svg {
      pointer-events: none;
      user-select: none;
    }

    .drop-instructions {
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .placeholder-wrapper {
      border-radius: 50%;
      margin-bottom: 15px;
      background-color: var(--brando-color-input);

      .svg-wrapper {
        padding: 75px;
      }
    }
  }

  .drop-indicator {
    pointer-events: none;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 80, 0.6);
    font-size: 30px;
    font-weight: bold;
    color: white;
    z-index: 9;

    > div {
      text-align: center;
    }
  }

  .upload-file-size-instructions {
    background-color: yellow;
    padding: 12px;
    border-radius: 8px;

    svg {
      display: inline;
      float: left;
      margin-right: 7px;
    }
    p {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .image-wrapper {
    position: relative;

    &-compact {
      display: flex;
      img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        min-width: auto;
      }

      .image-info {
        @space padding-left 20px;
        @fontsize sm;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .title {
          @fontsize 13px;
          @space margin-top 5px;
        }

        .btn-small {
          @fontsize sm;
          width: fit-content;
          border: 1px solid;
          padding: 9px 20px;
          margin-top: 10px;
          border-radius: 25px;
          transition: background-color 250ms ease, color 250ms ease;

          &:hover {
            background-color: var(--brando-color-dark);
            color: var(--brando-color-peach);
          }
        }
      }
    }

    .focus-point {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 1;
      z-index: 1;
      cursor: pointer;

      * {
        pointer-events: none;
        user-select: none;
      }

      &-pin {
        opacity: 0;
        z-index: 12;
        position: absolute;
        padding: 15px;
        border-radius: 15px;
        background: rgba(255, 0, 0, .6);
        box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
        border: 1px solid #fff;
        transform: translate(-50%, -50%);
        transition: 0s opacity ease;

        &.visible {
          transition: 1s opacity ease;
          opacity: 1;
        }
      }
    }
  }
}

.input-gallery-previews {
  button[phx-click="cancel-upload"] {
    border: none;
    background-color: blue;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding-top: 1px;
  }

  .upload-entry {
    @space margin-bottom 10px;
    position: relative;
    padding: 10px;

    .file-info {
      display: flex;
      align-items: center;

      .preview {
        width: 50px;
        height: 50px;
        margin-right: 15px;
        z-index: 1;

        img {
          height: 100%;
          object-fit: cover;
        }
      }
      
      .file {
        @font mono;
        font-size: 13px;
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        small {
          margin-top: 3px;
        }
      }
    }

    .progress-percent {
      position: absolute;
      top: 0;
      right: 0;
    }

    progress {
      position: absolute;
      width: 100%;
      z-index: 0;
      opacity: 1;
      height: 100%;
      border: none;
      appearance: none;
      border-radius: 0;
      display: block;
      top: 0;
      left: 0;

      &::-webkit-progress-bar {
        background-color: var(--brando-color-peach);
      }
      &::-webkit-progress-value {
        background-color: var(--brando-color-peach-darker);
        height: 100%;
      }
    }
  }

}


.image-modal-content {
  display: flex;

  &.ac {
    align-items: center;
  }

  .image-modal-content-preview {
    width: 50%;
    padding-right: 8px;

    figure {
      position: relative;
    }

    svg {
      path:nth-of-type(2) {
        fill: #ccc;
      }
    }

    .info {
      @space margin-top 10px;
      @fontsize 11px;
    }
  }

  .image-modal-content-info {
    width: 50%;
    padding-left: 8px;
  }
}