.dragging {
  .drop-indicator {
    display: flex !important;
    transition: background-color 350ms ease;
  }
}

.drop-indicator {
  pointer-events: none;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 80, 0.6);
  font-size: 30px;
  font-weight: bold;
  color: white;
  z-index: 9;

  > div {
    text-align: center;
  }
}

.secondary + .file-input-wrapper {
  .label {
    border-top: none;
  }
}

.input-image {
  &.small {
    .image-wrapper-compact {
      img {
        width: 50px;
        height: 50px;
      }
    }
  }

  &.square {
    .image-wrapper-compact {
      img {
        border-radius: 0;
        height: auto;
      }
    }
  }

  .image-modal-content-info {
    .file-input-wrapper {
      span.label {
        width: 100%;
      }
    }
  }

  .file-input-wrapper {
    position: relative;
    width: 100%;
    text-align: center;

    span.label {
      @fontsize button;
      position: relative;
      z-index: 0;
      display: inline-block;
      width: fit-content;
      cursor: pointer;    
      white-space: nowrap;
      color: var(--brando-color-dark); 
      border: 1px solid var(--brando-color-dark) !important;
      background-color: transparent;
      padding: 15px 25px 16px;
      min-width: 205px;
      text-align: center;
      transition: background-color 0.25s ease, border-color 0.25s ease;
      border-radius: 35px;

      .modal-body & {
        width: 100%;
      }
    }

    &:hover {
      .label {
        background-color: var(--brando-color-peach);
      }
    }

    input[type=file] {
      display: inline-block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 50px;
      top: 0;
      left: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

  .drop-target {
    position: relative;
    display: contents;

    svg {
      pointer-events: none;
      user-select: none;
    }

    .drop-instructions {
      text-align: center;
      font-size: 16px;
      margin-bottom: 15px;
    }

    .placeholder-wrapper {
      border-radius: 50%;
      margin-bottom: 15px;
      background-color: var(--brando-color-input);

      .svg-wrapper {
        padding: 75px;
      }
    }
  }

  .upload-file-size-instructions {
    background-color: yellow;
    padding: 12px;
    border-radius: 8px;

    svg {
      display: inline;
      float: left;
      margin-right: 7px;
    }
    p {
      font-size: 16px;
      margin-bottom: 8px;
    }
  }

  .image-wrapper {
    position: relative;

    &-compact {
      display: flex;
      border: 1px dashed #3b3b3b;
      border-radius: 8px;
      padding: 8px 25px 8px 8px;
      width: fit-content;

      img {
        width: 90px;
        height: 90px;
        min-width: auto;
      }

      .img-placeholder {
        background-color: var(--brando-color-input);
        width: 90px;
        height: 90px;
        min-width: auto;
        display: flex;
        align-items: center;
        justify-content: center;

        .shaded & {
          @color bg white;
        }
      }

      .image-info {
        @font mono;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 12px;
        
        .title {
          @font main;
        }

        .tiny {
          width: fit-content;
          margin-top: 5px;
        }
      }
    }    
  }
}

.focus-point {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 1;
  cursor: pointer;

  * {
    pointer-events: none;
    user-select: none;
  }

  &-pin {
    opacity: 0;
    z-index: 12;
    position: absolute;
    padding: 15px;
    border-radius: 12px;
    background: rgba(255, 0, 0, .6);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    transform: translate(-50%, -50%);
    transition: 0s opacity ease;

    &.visible {
      transition: 1s opacity ease;
      opacity: 1;
    }
  }
}

.input-image-previews {
  button[phx-click="cancel-upload"] {
    border: none;
    background-color: blue;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 25px;
    padding-top: 1px;
  }

  .upload-status {
    background-color: var(--brando-color-peach);
    margin-bottom: 10px;
    padding: 7px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    font-size: 14px;

    svg {
      margin-right: 7px;      
    }
  }
}


.image-modal-content {
  display: flex;

  &.ac {
    align-items: center;
  }

  .image-modal-content-preview {
    width: 50%;
    padding-right: 8px;

    figure {
      position: relative;
    }

    svg {
      path:nth-of-type(2) {
        fill: #ccc;
      }
    }

    .info {
      @space margin-top 10px;
      @fontsize 11px;
    }
  }

  .image-modal-content-info {
    width: 50%;
    padding-left: 8px;
  }
}