.radios-wrapper {
  margin-top: 8px;

  .form-check {
    margin-bottom: 5px;
  }

  input {
    margin-right: 17px;
    margin-top: 2px;
  }

  label {
    @fontsize 19px;
    display: flex;
    align-items: baseline;
  }

  &.status {
    margin-top: 8px;
    position: relative;
    
    &.compact {
      height: 56px;
      margin: 0;
      display: flex;
      justify-content: center;      

      svg {
        margin-right: 0;
        margin-top: 0;
        border: 5px solid transparent;
        box-sizing: content-box;

        &:hover {
          border: 5px solid #fff;
        }
      }
    }

    .form-check {
      margin-bottom: 5px;
    }

    input {
      margin-right: 17px;
      margin-top: 8px;
    }

    label {
      display: inline-block;

      span {
        display: inline-flex;
        align-items: center;
      }
    }


    .status-dropdown {
      position: absolute;
      width: 250px;
      z-index: 1;
      background-color: var(--brando-color-peach);
      padding: 11px;
      border: 1px solid var(--brando-color-dark);
      border-radius: 15px;
      top: 35px;
    }

    svg {
      margin-right: 12px;
      margin-top: -4px;
      circle {
        fill: theme(colors.blue);
        transition: fill 500ms ease;

        &.draft {
          fill: theme(colors.status.draft);
        }

        &.pending {
          fill: theme(colors.status.pending);
        }

        &.published {
          fill: theme(colors.status.published);
        }

        &.disabled {
          fill: theme(colors.status.disabled);
        }
      }
    }

    .label-text {
      @font mono;
      font-size: 15px;
      line-height: 1.8;
      border: 1px solid;
      padding: 2px 14px;
      padding-top: 5px;
      border-radius: 30px;

      &.draft {
        border-color: theme(colors.status.draft);
      }

      &.pending {
        border-color: theme(colors.status.pending);
      }

      &.published {
        border-color: theme(colors.status.published);
      }

      &.disabled {
        border-color: theme(colors.status.disabled);
      }
    }
  }
}