.i18n-text, .i18n-textarea {
  position: relative;
  border-bottom: 1px dashed #eee;
  display: flex;

  &:first-of-type {
    input.text, textarea.text {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &:last-of-type {
    border-bottom: 0;
    input.text, textarea.text {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }

  .language {
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    font-family: 'Mono';
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
  }

  input.text, textarea.text {
    padding-left: 40px;
  }
}

.i18n-textarea {
  .language {
    top: 12px;
    transform: translateY(0);
  }
}

input.text {
  @fontsize input;
  @space height 51px;
  background-color: var(--brando-color-input);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  border: 0;

  &.monospace {
    @font mono;
    font-size: 16px;

    &::placeholder {
      @font mono;
      font-size: 16px;
    }
  }

  &.invert {
    @color fg input;
    color: var(--brando-color-dark);
  }
}

textarea.text {
  @fontsize input;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: var(--brando-color-input);
  border: 0;

  &.monospace {
    @font mono;
    font-size: 16px;
  }

  .counter {
    font-size: 12px;
    float: right;
  }
}