input.text {
  @fontsize input;
  @space height 51px;
  background-color: var(--brando-color-input);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  border: 0;

  &.monospace {
    @font mono;
    font-size: 16px;

    &::placeholder {
      @font mono;
      font-size: 16px;
    }
  }

  &.invert {
    @color fg input;
    color: var(--brando-color-dark);
  }
}

textarea.text {
  @fontsize input;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  background-color: var(--brando-color-input);
  border: 0;

  &.monospace {
    @font mono;
    font-size: 16px;
  }

  .counter {
    font-size: 12px;
    float: right;
  }
}