@function reverse($list, $recursive: false) {
  $result: ();

  @for $i from length($list)*-1 through -1 {
    @if type-of(nth($list, abs($i))) == list and $recursive {
      $result: append($result, reverse(nth($list, abs($i)), $recursive));
    }

    @else {
      $result: append($result, nth($list, abs($i)));
    }
  }

  @return $result;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$dark: #25262B;
$darkgray: #3f3d3b;
$light: #fff;

$contrast-bg: $dark;
$contrast-fg: $light;

$primary: #d23434;
$menu-bg: transparent;
$fader-bg: $light;
$fader-fg: rgb(143, 143, 143);
$header-bg: $light;
$header-fg: $dark;

$body-bg: #F4E9D7;
$body-color: black;
$link-color: inherit;
$link-hover-color: inherit;
$menu-link-color: $dark;
$menu-link-mobile-color: $dark;
$menu-accent-color: transparent;
$enable-rounded: false;

$hamburger-config: (
  xs: (
    layer-color: #000,
    layer-width: 25px,
    layer-height: 3px,
    layer-spacing: 4px,
    layer-radius: 0px,
    padding-x: 0px,
    padding-y: 0px,
    margin-top: 0,
    top: -24px,
    right: 13px
  ),
  sm: (
    layer-color: #000,
    layer-width: 25px,
    layer-height: 3px,
    layer-spacing: 5px,
    layer-radius: 0px,
    padding-x: 0px,
    padding-y: 0px,
    margin-top: 0,
    top: -24px,
    right: 18px
  )
);

$hamburger-types: (
  spin
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PADDING / MARGINS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$container-padding: (
  xs: 20px,
  sm: 60px,
  md: 90px,
  lg: 120px,
);

$io-padding-map: (
  xs: (
    xs: 15px,
    sm: 15px,
    md: 15px,
    lg: 15px
  ),
  sm: (
    xs: 15px,
    sm: 15px,
    md: 22.5px,
    lg: 30px
  ),
  md: (
    xs: 30px,
    sm: 30px,
    md: 45px,
    lg: 60px
  ),
  lg: (
    xs: 60px,
    sm: 60px,
    md: 90px,
    lg: 120px
  ),
  xl: (
    xs: 60px,
    sm: 120px,
    md: 240px,
    lg: 240px
  ),
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BREAKPOINTS/GRID
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$grid-gutter-width: 50px;

$gutters: (
  xs: 25px,
  sm: 35px,
  md: 50px,
  lg: 50px
);

$grid-breakpoints: (
  xs: 0,
  sm: 850px,
  md: 1280px,
  lg: 1920px
);

$container-max-widths: (
  xs: 850px,
  sm: 1280px,
  md: 1920px,
  lg: 100%
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NAVBAR
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$navbar-brand: (
  xs: (
    width: 118.37px,
    height: 29.52px
  ),
  sm: (
    width: 118.37px,
    height: 29.52px
  ),
  md: (
    width: 118.37px,
    height: 29.52px
  ),
  lg: (
    width: 118.37px,
    height: 29.52px
  ),
);

$fixed-menu-compensation-padding: (
  xs: 0,
  sm: 0,
  md: 0,
  lg: 0
);

$header-padding: (
  xs: (
    padding-top: 40px,
    padding-bottom: 40px
  ),
  sm: (
    padding-top: 60px,
    padding-bottom: 60px
  ),
  md: (
    padding-top: 80px,
    padding-bottom: 80px
  ),
  lg: (
    padding-top: 120px,
    padding-bottom: 120px
  )
);

// small version
$header-padding-small: (
  xs: (
    padding-top: 15px,
    padding-bottom: 15px
  ),
  sm: (
    padding-top: 30px,
    padding-bottom: 30px
  ),
  md: (
    padding-top: 20px,
    padding-bottom: 20px
  ),
  lg: (
    padding-top: 30px,
    padding-bottom: 30px
  )
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONT SIZES
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$typography-menu: (
  xs: (
    font-size: 30px,
    line-height: 36px
  ),
  sm: (
    font-size: 30px,
    line-height: 36px
  ),
  md: (
    font-size: 48px,
    line-height: 60px
  ),
  lg: (
    font-size: 48px,
    line-height: 60px
  )
);

$io-font-sizes: (
  xs: (
    xs: 12px,
    sm: 12px,
    md: 12px,
    lg: 12px
  ),

  sm: (
    xs: 17px,
    sm: 21px,
    md: 26px,
    lg: 33px
  ),

  md: (
    xs: 21px,
    sm: 26px,
    md: 31px,
    lg: 38px
  ),

  lg: (
    xs: 30px,
    sm: 35px,
    md: 42px,
    lg: 48px
  ),

  xl: (
    xs: 38px,
    sm: 38px,
    md: 38px,
    lg: 38px
  ),

  xxl: (
    xs: 58px,
    sm: 58px,
    md: 58px,
    lg: 58px
  )
);

/* How much to translate arrow on hover */
$io-arrow-travel: 5px;

$io-line-heights: (
  xs: 1.6,
  sm: 1.6,
  md: 1.6,
  lg: 1.6
);

/* how much margin is added to the right of each list item, EXCEPT last item */
$io-list-inline-padding: (
  xs: 0,
  sm: 0,
  md: 55px,
  lg: 55px
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

// RFS Base font size
$rfs-base-font-size: 1.25rem;
$rfs-font-size-unit: rem;

// Factor of decrease
$rfs-factor: 50;

// 1 rem = $rfs-rem-value px
$rfs-rem-value: 16;
