@function reverse($list, $recursive: false) {
  $result: ();

  @for $i from length($list)*-1 through -1 {
    @if type-of(nth($list, abs($i))) == list and $recursive {
      $result: append($result, reverse(nth($list, abs($i)), $recursive));
    }

    @else {
      $result: append($result, nth($list, abs($i)));
    }
  }

  @return $result;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// PADDING / MARGINS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$padding-xl: (
  xs: 90px, //
  sm: 90px, //
  md: 180px, //
  lg: 180px
);

$padding-lg: (
  xs: 60px, //
  sm: 60px, //
  md: 80px, //
  lg: 80px
);

$padding-sm: (
  xs: 30px,
  sm: 35px,
  md: 50px,
  lg: 50px
);

$padding-xs: (
  xs: 15px,
  sm: 23px,
  md: 25px,
  lg: 25px
);

$container-padding: (
  xs: 20px,
  sm: 40px,
  md: 100px,
  lg: 100px,
);

$pretty-pad: (
  xs: 0px,
  sm: 5px,
  md: 40px,
  lg: 40px,
);

$pretty-pad-max: (
  xs: 98%,
  sm: 55%,
  md: 60%,
  lg: 60%
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONT SIZES
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$fontsize-base: (
  xs: 18px,
  sm: 18px,
  md: 18px,
  lg: 18px
);

$lineheight-base: (
  xs: 28px,
  sm: 28px,
  md: 28px,
  lg: 28px
);

$fontsize-small: (
  xs: 18px,
  sm: 15px,
  md: 15px,
  lg: 15px
);

$lineheight-small: (
  xs: 28px,
  sm: 25px,
  md: 25px,
  lg: 25px
);

$fontsize-lead: (
  xs: 21px,
  sm: 32px, //
  md: 38px, //
  lg: 38px  //
);

$lineheight-lead: (
  xs: 29px,
  sm: 48px, //
  md: 57px, //
  lg: 57px  //
);

$marginbottom-lead: (
  xs: 30px,
  sm: 50px,
  md: 100px,
  lg: 100px
);

// H1
$fontsize-h1: (
  xs: 28px,
  sm: 38px,
  md: 45px,
  lg: 45px
);

$lineheight-h1: (
  xs: 25px,
  sm: 45px,
  md: 45px,
  lg: 45px
);

$marginbottom-h1: $padding-sm;

// H2
$fontsize-h2: (
  xs: 28px,
  sm: 45px,
  md: 48px,
  lg: 48px
);

$lineheight-h2: (
  xs: 35px,
  sm: 52px,
  md: 60px,
  lg: 60px
);

$marginbottom-h2: $padding-sm;

// H3
$fontsize-h3: (
  xs: 25px,
  sm: 35px,
  md: 35px,
  lg: 35px
);

$lineheight-h3: (
  xs: 1,
  sm: 1,
  md: 45px,
  lg: 45px
);

$marginbottom-h3: $padding-sm;

$fontsize-credits: (
  xs: 15px,
  sm: 13px,
  md: 15px,
  lg: 15px
);

$lineheight-credits: (
  xs: 23px,
  sm: 16px,
  md: 18px,
  lg: 18px
);

$fontsize-caps: (
  xs: 15px,
  sm: 18px,
  md: 18px,
  lg: 18px
);

$lineheight-caps: (
  xs: 18px,
  sm: 24px,
  md: 24px,
  lg: 24px
);

$padding-caps: (
  xs: 10px,
  sm: 10px,
  md: 10px,
  lg: 10px
);

$typography-menu: (
  xs: (
    font-size: 26px,
    line-height: 45px
  ),
  sm: (
    font-size: 32px,
    line-height: 62px
  ),
  md: (
    font-size: 22px,
    line-height: 27px
  ),
  lg: (
    font-size: 22px,
    line-height: 27px
  )
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// COLORS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$dark: #25262B;
$light: #fff;

$contrast-bg: $dark;
$contrast-fg: $light;

$primary: #d23434;
$menu-bg: transparent;
$fader-bg: $light;
$fader-fg: rgb(143, 143, 143);
$header-bg: $light;
$header-fg: $dark;

$body-bg: $light;
$body-color: black;
$link-color: inherit;
$link-hover-color: inherit;
$menu-link-color: $dark;
$menu-link-mobile-color: $dark;
$menu-accent-color: transparent;
$enable-rounded: false;

$hamburger-config: (
  xs: (
    layer-color: #000,
    layer-width: 25px,
    layer-height: 3px,
    layer-spacing: 4px,
    layer-radius: 0px,
    padding-x: 0px,
    padding-y: 0px,
    margin-top: 0,
    top: -24px,
    right: 13px
  ),
  sm: (
    layer-color: #000,
    layer-width: 25px,
    layer-height: 3px,
    layer-spacing: 5px,
    layer-radius: 0px,
    padding-x: 0px,
    padding-y: 0px,
    margin-top: 0,
    top: -24px,
    right: 18px
  )
);

$hamburger-types: (
  spin
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// BREAKPOINTS/GRID
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$grid-gutter-width: 50px;

$gutters: (
  xs: 25px,
  sm: 35px,
  md: 50px,
  lg: 50px
);

$grid-breakpoints: (
  xs: 0,
  sm: 740px,
  md: 1280px,
  lg: 1900px
);

$container-max-widths: (
  xs: 730px,
  sm: 1260px,
  md: 1800px,
  lg: 1900px
);

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// FONTS
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// NAVBAR
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

$navbar-brand: (
  xs: (
    width: 118.37px,
    height: 29.52px
  ),
  sm: (
    width: 118.37px,
    height: 29.52px
  ),
  md: (
    width: 118.37px,
    height: 29.52px
  ),
  lg: (
    width: 118.37px,
    height: 29.52px
  ),
);

$fixed-menu-compensation-padding: (
  xs: 0,
  sm: 0,
  md: 0,
  lg: 0
);


//// NEW

$header-padding: (
  xs: (
    padding-top: 30px,
    padding-bottom: 30px
  ),
  sm: (
    padding-top: 40px,
    padding-bottom: 40px
  ),
  md: (
    padding-top: 60px,
    padding-bottom: 60px
  ),
  lg: (
    padding-top: 60px,
    padding-bottom: 60px
  )
);

// small version
$header-padding-small: (
  xs: (
    padding-top: 15px,
    padding-bottom: 15px
  ),
  sm: (
    padding-top: 30px,
    padding-bottom: 30px
  ),
  md: (
    padding-top: 30px,
    padding-bottom: 30px
  ),
  lg: (
    padding-top: 30px,
    padding-bottom: 30px
  )
);

