/**
 * Application-specific SCSS.
 * (c) univers/twined 2019
 */

@import "variables.scss";
@import "~io/scss/io";

.no-js body.unloaded {
  opacity: 1;
}

.no-js body.unloaded header {
  opacity: 1;
}

.no-js body.unloaded .navbar {
  transform: none;
}

html, body {
  height: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

html.sr {
  [data-moonwalk], [data-moonwalk-product] {
    visibility: hidden;
  }
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

a.plain {
  border: none;
  text-decoration: none;

  &:hover {
    border: none;
    text-decoration: none;
  }
}

footer a.plain {
  color: inherit;

  &:hover {
    color: inherit;
  }
}

body {
  letter-spacing: 0.4px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media('>=#{$bp-name}') {
      padding-top: map-get($fixed-menu-compensation-padding, $bp-name);
      font-size: map-get($fontsize-base, $bp-name);
      line-height: map-get($lineheight-base, $bp-name);
    }
  }
}

p:last-child {
  margin-bottom: 0;
}

.blink {
  animation: blink-animation 2.7s steps(200, start) infinite;
}
@keyframes blink-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }

  50% {
    opacity: .8;
  }
}

header {
  opacity: 1;
  transition: opacity 2s ease;
}

.c {
  align-self: center;
}

span.line {
  display: inline-block;
}

.dev-debug-sizes {
  position: fixed;
  bottom: 4px;
  left: 4px;
  font-family: monospace;
  font-size: 11px;
  font-weight: bold;
  z-index: 99;
  display: none;
}

/**
* Imports
*/
@import "includes/animations";
@import "includes/cookies";
@import "includes/containers";
@import "includes/content";
@import "includes/fader";
@import "includes/fonts";
@import "includes/footer";
@import "includes/hamburgers";
@import "includes/header";
@import "includes/headers";
@import "includes/lightbox";
@import "includes/modules";
@import "includes/paragraphs";
@import "includes/navigation";
@import "includes/sections";
@import "includes/templates";

