  <h1><%= gettext("Edit image category") %></h1>
  <%= ImageCategoryForm.get_form(type: :update, action: :update, params: to_string(@id), changeset: @changeset) %>
  <div class="buttons m-t-md">
    <a href="<%= Brando.helpers.admin_image_path(@conn, :index) %>" class="btn btn-default">
      <i class="fa fa-list fa-fw m-r-sm"></i> <%= gettext("Back to index") %>
    </a>
  </div>