    <h1><%= t!(@language, "actions.new") %></h1>
    <%= ImageCategoryForm.get_form(@language, type: :create, action: :create, params: [], values: assigns[:imagecategory], errors: assigns[:errors]) %>