/**
 * Admin // frontend
 * (c) twined 2015
 */

.admin-menu {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px 8px;
  z-index: 9999;

  .dropdown-menu > li > a {
    text-align: right;
    padding: 5px;
    background-color: #eee;
    font-size: 13px;
    font-weight: bold;

    &:hover {
      background-color: #eee;
    }
  }
}

.micro-avatar {
  border-radius: 50%;
  border: 1px solid #E7E7E7;
  box-shadow: 2px 2px #D8D8D8;
}