/**
 * Instagram images
 * (c) twined 2015
 */

.instagram-images .overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #0a0;
  visibility: hidden;
  color: #fff;

  .info-wrapper {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    padding: 0 8px;

    a {
     color: #FFF;
     font-weight: bold;
    }
  }
}

 .instagram-images img.img-responsive {
   padding: 5px;
 }

.instagram-images .small-img {
  width: 25%;
  display: inline-block;
  float: left;
  position: relative;
}

.instagram-images .large-img {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  float: left;
  position: relative;
}

@media (max-width: 767px) {
  .instagram-images .small-img {
    width: 100%;
  }

  .instagram-images .large-img {
    width: 100%;
  }
}