/**
 * Pages
 * (c) twined 2015
 */

.image-info-wrapper {
  padding-top: 5px;
  .image-title {
    font-style: italic;
    float: left;
  }

  .image-credits {
    float: right;
    font-style: italic;
  }
}