<!DOCTYPE html>
<html class="no-js" lang="<%%= @language %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <%%= preload_fonts([]) %>
    <%%= init_js() %>
    <%%= inject_critical_css() %>

    <%%= render_meta(@conn) %>
    <%%= render_rel(@conn) %>
    <%%= render_sections_css() %>

    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title><%%= Brando.Utils.get_page_title(@conn) %></title>

    <%%= include_assets() %>
    <%%= render_json_ld(@conn) %>
  </head>
  <%%= body_tag @conn, id: "top" %>
    <%%= cookie_law(
      @conn,
      "This webpage is using cookies for analytics (Not really, just an example).<br>Click OK to accept",
      info_link: "/privacy",
      info_text: "Privacy"
    ) %>
    <div class="backdrop"></div>
<!-- :nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= render <%= application_module %>Web.PageView, "_navigation.html", assigns %>
<!-- /nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= @inner_content %>
<!-- /content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= render <%= application_module %>Web.PageView, "_footer.html", assigns %>
<!-- /footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <%%= include_legacy_assets() %>
    <!-- // vsn <%%= Application.spec(:<%= application_name %>, :vsn) %> -->
  </body>
</html>
