<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">

    <%%= preload_fonts([]) %>
    <%%= init_js() %>
    <%%= inject_critical_css() %>

    <%%= render_meta(@conn) %>
    <%%= render_rel(@conn) %>

    <link rel="apple-touch-icon" sizes="180x180" href="/ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/ico/favicon-16x16.png">
    <link rel="mask-icon" href="/ico/safari-pinned-tab.svg" color="#000000">
    <link rel="shortcut icon" href="/ico/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/ico/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title><%%= Brando.Utils.get_page_title(@conn) %></title>

    <%%= include_assets() %>
    <%%= render_json_ld(@conn) %>
  </head>
  <%%= body_tag @conn, id: "top" %>
    <%%= cookie_law(
      @conn,
      "Denne nettsiden bruker informasjonskapsler for statistikk og informasjon om besøkendes samhandling med nettsiden.<br>Klikk OK for å akseptere bruken av disse.",
      info_link: "/personvern",
      info_text: "Personvern"
    ) %>
    <div class="fader" id="fader">
      <div class="loading-container"></div>
    </div>
    <div class="backdrop"></div>
<!-- :nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= render <%= application_module %>Web.PageView, "_navigation.html", assigns %>
<!-- /nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= @inner_content %>
<!-- /content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= render <%= application_module %>Web.PageView, "_footer.html", assigns %>
<!-- /footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <!--
    <%%= google_analytics("UA-XXXXXXXX-1") %>
    -->
    <%%= include_legacy_assets() %>
    <!-- // vsn <%%= Application.spec(:<%= application_name %>, :vsn) %> -->
  </body>
</html>
