<%= if false do %>
  <%= inspect(errors) %>
<% end %>
<form id="<%= form[:source] %>-form"
      class="form-horizontal"
      role="form"
      action="<%= get_action(form[:action], action, params) %>"
      method="<%= get_method(action) %>"
<%= if form[:multipart] do %>
      enctype="multipart/form-data"
<% end %>
      >
  <%= fields %>
</form>