<div class="form-group">
  <%= if opts[:wrapper_class] do %>
    <div class="<%= opts[:wrapper_class] %>">
  <% end %>
    <input type="submit"
           value="<%= opts[:text] %>"
           class="<%= opts[:class] %>"
           name="<%= name %>"
           />
  <%= if opts[:wrapper_class] do %>
    </div>
  <% end %>
</div>