.container, .pull-container {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      /* #{$bp-name} */
      padding-left: map-get($container-padding, $bp-name);
      padding-right: map-get($container-padding, $bp-name);
    }
  }
}

.pull-container {
  @include make-container();
  @include make-container-max-widths();
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      /* #{$bp-name} */
      padding-left: 0;
      padding-right: map-get($container-padding, $bp-name);
    }
  }
}

.fw-container {
  @include make-container();
  @include make-container-max-widths();
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      /* #{$bp-name} */
      padding-left: 0;
      padding-right: 0;
    }
  }
}

// .pull {
//   margin-top: -264px;
// }

.contrast {
  background-color: $contrast;
  color: $dark;

  // @each $bp-name, $bp-size in $grid-breakpoints {
  //   @include media-breakpoint-up($bp-name) {
  //     /* #{$bp-name} */
  //     padding-top: map-get($padding-lg, $bp-name);
  //     padding-bottom: map-get($padding-lg, $bp-name);
  //   }
  // }

  a {
    color: $dark;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid;
  }
}

.light {
  background-color: $light;
  color: $dark;
}

.dark {
  background-color: $dark;
  color: $light;
}

.first-content {
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      /* #{$bp-name} */
      padding-top: map-get($fixed-menu-compensation-padding, $bp-name);
    }
  }
}
