body {
  main#content {
    @include media('>=md') {
      padding-top: 232px;
    }

    @include media(sm) {
      padding-top: 155px;
    }

    @include media(xs) {
      padding-top: 90px;
    }
  }
}