#cookies {
  @include space('padding-top', lg);
}

.no-js {
  .cookie-container {
    display: block !important;
  }
}

.cookie-container {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $dark;
  color: $light;
  z-index: 99999;
  margin-bottom: 0 !important;
  max-width: 100% !important;

  @include space('padding-top', sm);
  @include space('padding-bottom', sm);

  .cookie-law {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include media(xs) {
      flex-direction: column;
    }
  }

  .cookie-law-text {
    width: 100%;
    p {
      font-size: 15px;
    }
  }

  .cookie-law-buttons {
    flex-shrink: 0;
    text-align: right;

    @include media(xs) {
      display: flex;
      align-items: center;
      width: 100%;
      margin-top: 15px;
      justify-content: space-between;
    }

    @include media('sm') {
      padding-left: 15px;
    }

    a {
      @extend .plain;
    }

    button {
      background-color: $light;
      color: $dark;
      border: 0;
      padding: 3px 25px;

      @include media('>=sm') {
        margin-right: 15px;
      }
    }
  }
}
