section.hero {
  background-color: $header-bg;
  color: $header-fg;

  &.stretch {
    height: 100vh;
  }

  h2 {
    @include media(sm) {
      max-width: 500px;
    }

    @include media(xs) {
      padding: 0 10%;
    }
  }

  .hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 2;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000;
      opacity: 0.3;
      z-index: 8;
    }

    img {
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    video {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .about {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;

    .container {
      height: 100%;

      .row {
        flex-wrap: nowrap;

        @include media('>=md') {
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @include media(sm) {
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }

        @include media(xs) {
          height: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .logo-circle {
      z-index: 2;

      fill: #ffffff;
      width: 120px;

      @include media(xs) {
        width: 90px;
      }

    }

    h2 {
      z-index: 2;
      color: #fff;
      text-align: center;
      padding-bottom: 0;
      font-weight: normal;

      @include media(lg) {
        max-width: 750px;
      }

      @include media('>=md') {
        max-width: 640px;
        padding-top: 100px; // height of header
        font-size: 55px;
        line-height: 80px;
        margin-bottom: 5%;
      }

      @include media(sm) {
        font-size: 46px;
        letter-spacing: 0.8px;
        line-height: 60px;
        max-width: 640px;
        padding-top: 50px; // height of header
        margin-bottom: 10%;
      }

      @include media(xs) {
        font-size: 26px;
        letter-spacing: 0.8px;
        line-height: 39px;
        margin-bottom: 10%;
      }
    }

    .centered-arrow {
      z-index: 2;
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      color: #ffffff;
      text-align: center;
      padding-bottom: 40px;

      font-size: 26px;

      @include media(xs) {
        font-size: 18px;
        color: #F8F8F7;
        letter-spacing: 0.55px;
        line-height: 40px;
        padding-bottom: 20px;
      }
    }
  }
}
