h1 {
  font-weight: bold;
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media('>=#{$bp-name}') {
      font-size: map-get($fontsize-h1, $bp-name);
      line-height: map-get($lineheight-h1, $bp-name);
      margin-bottom: map-get($marginbottom-h1, $bp-name);
    }
  }
}

h3, .small-caps {
  @each $bp-name, $bp-size in $grid-breakpoints {
    margin-bottom: 0;
    text-transform: uppercase;
    @include media('>=#{$bp-name}') {
      font-size: map-get($fontsize-caps, $bp-name);
      letter-spacing: map-get($fontsize-caps, $bp-name)/10;
      font-weight: bold;
      line-height: map-get($lineheight-caps, $bp-name);
      padding-bottom: map-get($padding-caps, $bp-name);
      padding-top: map-get($padding-sm, $bp-name) / 2;
    }
  }
}

h2 {
  font-weight: bold;

  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media('>=#{$bp-name}') {
      font-size: map-get($fontsize-h2, $bp-name);
      line-height: map-get($lineheight-h2, $bp-name);
      margin-bottom: 0;
      padding-top: map-get($padding-sm, $bp-name) / 2;
      padding-bottom: map-get($padding-sm, $bp-name) / 2;
    }
  }
}
