[data-ll-srcset] {
  img {
    transition: opacity 0.7s ease-in;
    opacity: 0.1;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    &[data-ll-loaded] {
      opacity: 1;
    }
  }
}