@import "navigation-nojs";
@import "navigation-section-overrides";

.hero-slide-img {
  position: relative;
  backface-visibility: hidden;
}

header {
  @include container();

  z-index: 10;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  backface-visibility: hidden;
  transition: padding-top 500ms ease, padding-bottom 500ms ease;

  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media('>=#{$bp-name}') {
      @each $key, $val in map-get($header-padding, $bp-name) {
        #{$key}: #{$val};
      }
    }
  }

  &[data-header-small] {
    transition: padding-top 500ms ease, padding-bottom 500ms ease;

    @each $bp-name, $bp-size in $grid-breakpoints {
      @include media('>=#{$bp-name}') {
        @each $key, $val in map-get($header-padding-small, $bp-name) {
          #{$key}: #{$val};
        }
      }
    }
  }

  &[data-header-alt-bg] {
    nav {
      section {
        ul {
          li {
            a {
              @include media('>=md') {
                color: black !important;
              }
            }
          }
        }
      }

      figure {
        &.brand {
          svg {
            path {
              fill: black !important;
            }
          }
        }

        &.menu-button {
          .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after,
          .hamburger-inner::before, .hamburger-inner::after {
            background-color: #000 !important;
          }
        }
      }
    }
  }

  nav {
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto;
    grid-template-areas:
      "nav_brand nav_brand nav_brand"
      "nav_main nav_main nav_main"
      "nav_aux nav_aux nav_aux"
      "nav_extra nav_extra nav_extra";

    @include media('>=md') {
      height: auto;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "nav_brand nav_main nav_aux";
      grid-gap: 20px;
      // align-items: end;
    }

    .mobile-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      transform: translateX(100%);
      background-color: #DBD8D5;

      @include media('>=md') {
        display: none;
      }
    }

    figure {
      &.brand {
        z-index: 5;
        grid-area: nav_brand;
        justify-self: flex-start;

        @include media('>=md') {
          margin-bottom: 2px;
        }

        svg {
          @each $bp-name, $bp-size in $grid-breakpoints {
            @include media($bp-name) {
              @each $key, $val in map-get($navbar-brand, $bp-name) {
                #{$key}: #{$val};
              }
            }
          }
          path {
            fill: black;
          }
        }
      }

      &.menu-button {
        z-index: 150;
        position: absolute;
        right: 0;
        // align-self: center; // breaks when menu is open.

        @include media('>=md') {
          display: none;
        }

        .hamburger {
          @include media(xs) {
            margin-top: 9px;
          }

          @include media(sm) {
            margin-top: 7px;
          }

          &:focus, &:active {
            outline: none !important;
          }

          .hamburger-inner {
            background-color: transparent !important;
          }
        }
      }
    }

    section {
      @include media('>=md') {
        display: block !important;
      }

      @include media('<=sm') {
        display: none;
        z-index: 5;
        margin-left: 12.0%;
      }

      @include media(xs) {
        margin-left: 10%;
      }

      &.main {
        grid-area: nav_main;

        @include media('>=md') {
          justify-self: center;
          align-self: end;
        }
      }

      &.aux {
        grid-area: nav_aux;

        @include media('>=md') {
          justify-self: end;
          align-self: end;
        }
      }

      &.extra {
        width: 100%;

        @include media('>=md') {
          display: none !important;
        }

        @include media(sm) {
          grid-area: nav_extra;
          margin-top: 60px;

          ul {
            li {
              a {
                &:hover, &.active {
                  &:before {
                    margin-top: 18px;
                  }
                }
              }
            }
          }
        }

        @include media(xs) {
          grid-area: nav_extra;
          padding-bottom: 60px;
          position: absolute;
          bottom: 0;
          padding-right: 30%;

          ul {
            flex-direction: row;
            justify-content: space-between;

            li {
              a {
                font-size: 18px;
              }
            }
          }
        }

        ul {
          li {
            font-size: 22px;
            letter-spacing: 0.8px;
            line-height: 42px;

            a {
              color: $dark !important;
            }
          }
        }
      }

      ul {
        @include list-unstyled();
        flex-direction: column;

        @include media('>=md') {
          flex-direction: row;
        }

        > li {
          @include media('>=md') {
            @include list-item-inline();
            color: $light;
          }

          @each $bp-name, $bp-size in $grid-breakpoints {
            @include media('>=#{$bp-name}') {
              @each $key, $val in map-get($typography-menu, $bp-name) {
                #{$key}: #{$val};
              }
            }
          }

          a {
            padding-bottom: 2px;
            border-bottom: 1px solid transparent;
            transition: border-color 350ms ease;
            color: $dark;


            @include media('>=md') {
              body[data-script=about] & {
                color: #fff;
                opacity: 0.7;
                &.active, &:hover {
                  opacity: 1;
                  color: #fff;
                  border-bottom: 1px solid #999FA5;
                }
              }
            }

            @include media('<=sm') {
              color: $dark !important;

              &:hover, &:active, &.active {
                color: $dark !important;
              }
            }

            &.active, &:hover {
              @include media('>=md') {
                color: $dark;
                border-bottom: 1px solid #717373;
              }

              @include media('<=sm') {
                position: relative;
                border-bottom: 1px solid transparent;

                &:before {
                  top: 0;
                  content: '';
                  position: absolute;
                  font-size: 20px;
                  margin-left: -35px;
                  width: 5px;
                  height: 5px;
                  background-color: black;
                  margin-top: 30px;
                }
              }

              @include media(xs) {
                &:before {
                  margin-left: -29px;
                  margin-top: 20px;
                }
              }
            }

            @include media('<=sm') {
              display: inline-block;
              border-bottom: 1px solid transparent;
              color: $menu-link-mobile-color;
              font-weight: normal;
            }

            &:hover {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}

figure {
  margin: 0;
}


.open-menu {
  .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after,
  .hamburger-inner::before, .hamburger-inner::after {
    background-color: #000 !important;
  }
}