p {
  @include fontsize-rfs(md);

  &.subhead {
    font-weight: bold;
    margin-bottom: 0;
  }

  > a {
    color: $dark;
    border-bottom: 1px solid #AAA39F;
    transition: border-color 250ms ease-out;
    &:hover {
      color: $dark;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.lead-container p, p.lead {
  letter-spacing: 0.8px;
  @include fontsize-rfs(lg);
}
