p {
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      font-size: map-get($fontsize-base, $bp-name);
      line-height: map-get($lineheight-base, $bp-name);
      margin-bottom: map-get($lineheight-base, $bp-name);
    }
  }

  &.subhead {
    font-weight: bold;
    margin-bottom: 0;
  }

  &.credits {
    @each $bp-name, $bp-size in $grid-breakpoints {
      @include media-breakpoint-up($bp-name) {
        font-size: map-get($fontsize-credits, $bp-name);
        line-height: map-get($lineheight-credits, $bp-name);
      }
    }
  }

  > a {
    color: $dark;
    border-bottom: 1px solid;
    transition: border-color 250ms ease-out;
    &:hover {
      color: $dark;
      text-decoration: none;
      border-color: transparent;
    }
  }
}

.lead-container p {
  @each $bp-name, $bp-size in $grid-breakpoints {
    @include media-breakpoint-up($bp-name) {
      font-size: map-get($fontsize-lead, $bp-name);
      line-height: map-get($lineheight-lead, $bp-name);
    }
  }
}
