[data-ll-srcset] {
  img {

    opacity: 0;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;

    &[data-ll-loaded] {
      transition: opacity 550ms ease-in;
      opacity: 1;
    }
  }
}