p {
  @fontsize base;
  @space margin-bottom vertical-rhythm(theme.typography.sizes.base);

  &:last-of-type {
    margin-bottom: 0 !important;
  }

  > a {
    @color fg link.regular.text;
    border-bottom: 1px solid theme(colors.link.regular.border);
    transition: border-color 250ms ease-out, color 250ms ease-out;
    padding-bottom: 3px;

    &:hover {
      @color fg link.hover.text;
      border-bottom: 1px solid theme(colors.link.hover.border);
      text-decoration: none;
    }
  }

  > ul > li {
    font-size: inherit;
  }
}