<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>500: Server Error</title>
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" href="//f.fontdeck.com/s/css/5lDZkZYzUY6kLuxHyyfRPYqFU4o/DOMAIN_NAME/40409.css" type="text/css" />
  <style>
    ::-moz-selection{ background: red; color: #fcfcfc; text-shadow: none; }
    ::selection   { background: #222; color: #fcfcfc; text-shadow: none; }
    html,body,
    h1,h2,h3    { margin: 0; padding: 0; font-family: "Apercu Regular", helvetica, sans-serif; font-size-adjust: 0.508; font-weight: normal; font-style: normal; }

    body      { background: #fcfcfc; color: red; }
    h1        { color: #222; width: 100%; text-align: center; position: absolute; top: 50%; line-height: 0; font-size: 30em; letter-spacing: -.05em; overflow: visible; }
    h3        { font-size: 27px; }
    a         { color: red; border-bottom: 2px solid red; text-decoration: none; }
    a:hover     { border-bottom: 2px solid #fcfcfc; }
    #wrapper    { overflow: hidden; margin: 0; padding: 0; }
    .container    { margin: 0 auto; width: auto; max-width: 100%; padding: 27px; position: relative; }

    /* ==========================================================================
       Flex oh No
     ========================================================================== */
    #flex-logo          { font-size: 10em; height: 0px; overflow: visible; top: 50%; position: absolute; width: 100%; }

    /* icon + position */
    #oh:before,
    #oh:after           { content: "oh"; left: 18px; position: absolute; line-height: 0px; }
    #no:before,
    #no:after           { content: "No"; right: 18px; position: absolute; line-height: 0px; }
    #oh:before,
    #no:before          { z-index: -1; }
    #oh:after,
    #no:after           { opacity: 1; z-index: 1; }
    .loaded #oh:after,
    .loaded #no:after       { opacity: 0; -webkit-transition: opacity 1s ease-out 2s; -moz-transition: opacity 1s ease-out 2s; -ms-transition: opacity 1s ease-out 2s; -o-transition: opacity 1s ease-out 2s; transition: opacity 1s ease-out 2s; }
    .loaded.finished #oh:after,
    .loaded.finished #no:after  { visibility: hidden; display: none; }


  </style>
</head>
<body>
  <div id="wrapper">
    <div id="flex-logo">
      <span id="oh"></span>
      <span id="no"></span>
    </div>

    <h1>500</h1>

    <div class="container">
      <h3>Server error.<br />
      <br />
      <br />Go back <a href="/">to the front page</a>.</h3>
    </div>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>
    // FLEX LOGO
    var $logo = $("#flex-logo");
    $logo.addClass("loaded");
    setTimeout(function() {
      $logo.addClass("finished");
    }, 3000);
  </script>
</body>
</html>
