export BRANDO_DEFAULT_LANGUAGE="en"
export BRANDO_DB_URL="postgres://postgres:postgres@localhost/e2e_project_dev"
export BRANDO_SECRET_KEY_BASE="M3ffNRpzbTeTfFibxAXlTdeQLVYVL2Fr6XBogK/3YJuvC08Xn5XZcPW9tzk2t/Kp"

export BRANDO_URL_SCHEME="http"
export BRANDO_URL_HOST="localhost"
export BRANDO_URL_PORT="4000"

export PORT="4000"