  <h1><%= Brando.Admin.LayoutView.t!(@language, "global.configure") %> <%= model_name(@language, @changeset.model, :singular) %></h1>
  <%= ImageSeriesConfigForm.get_form(@language, type: :update, action: :configure_patch, params: to_string(@id), changeset: @changeset) %>
  <div class="buttons m-t-md">
    <a href="<%= Helpers.admin_image_path(@conn, :index) %>" class="btn btn-default">
      <i class="fa fa-list fa-fw m-r-sm"></i> <%= Brando.Admin.LayoutView.t!(@language, "global.back_to_index") %>
    </a>
  </div>
