  <h1>Endre <%= model_name(@image_series, :singular) %></h1>
  <%= ImageSeriesForm.get_form(type: :update, action: :update, params: to_string(@id), values: assigns[:image_series], errors: assigns[:errors]) %>
  <div class="buttons m-t-md">
    <a href="<%= Helpers.admin_image_path(@conn, :index) %>" class="btn btn-default">
      <i class="fa fa-list fa-fw m-r-sm"></i> Tilbake til oversikten
    </a>
  </div>