.current-user {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--brando-color-dark);
  height: 60px;
  border-radius: 30px;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  overflow-y: hidden;
  background-color: transparent;
  transition: background-color 250ms ease;

  &:hover {
    @color bg peachLighter;
  }

  .button {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
    flex-grow: 0;
  }

  .avatar-wrapper {
    align-items: center;
    display: flex;
    margin-right: 15px;

    .avatar {
      margin-left: 7px;
      width: 48px;
      height: 48px;

      img {
        user-select: none;
        border-radius: 48px;
      }
    }
  }

  .content {
    width: 100%;
    display: flex;
    line-height: 1;
    justify-content: space-between;
    padding-left: 15px;
    border-left: 1px solid;
    padding-top: 2px;

    .name {
      font-weight: normal;
      font-size: 18px;
      margin-bottom: 6px;
      user-select: none;
    }

    .role {
      @font mono;
      font-size: 12px;
      opacity: 0.7;
      user-select: none;
      text-transform: uppercase;
    }

    .dropdown-icon {
      display: flex;
      align-items: center;
      margin-right: 20px;

      svg {
        path {
          fill: var(--brando-color-dark);
        }
      }
    }
  }

  .dropdown-content {
    padding-top: 8px;

    ul {
      li {
        line-height: 1;

        &:before {
          content: '';
          background-image: url("data:image/svg+xml,%3Csvg width='15' height='11' viewBox='0 0 15 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.545998 6.3L11.76 6.3L8.106 9.918L9.15 10.962L14.28 5.832L14.28 5.364L9.15 0.234001L8.106 1.278L11.742 4.878L0.545998 4.878L0.545998 6.3Z' fill='white'/%3E%3C/svg%3E%0A");
          width: 15px;
          height: 11px;
          position: absolute;
          left: 23px;
          opacity: 0;
          transition: all 0.5s ease;
          top: 50%;
          transform: translateY(-50%);
        }

        &:hover {
          color: var(--brando-color-dark);
          color: var(--brando-color-peach);
          &:before {
            opacity: 1;
          }
        }

        &:last-of-type {
          margin-bottom: 8px;
        }

        a {
          @fontsize input;
          display: block;
          padding: 14px 0 14px calc(8px + 64px + 15px);
        }
      }
    }
  }
}