.fullscreen-toggle {
  position: fixed;
  top: 5px;
  left: 5px;
  cursor: pointer;
  z-index: 9;
  border: none;

  svg {
    #chevron {
      transition: transform 1s ease;
      transform: rotate(0deg);
      transform-box: fill-box;
      transform-origin: 50% 50%;
    }
  }

  &.minimized {
    svg {
      #chevron {
        transition: transform 1s ease;
        transform: rotate(180deg);
      }
    }
  }
}

#navigation {
  @space padding-bottom 50px;
  @space width 370px desktop_lg/desktop_xl;
  @space width 330px ipad_portrait/ipad_landscape/desktop_md;
  @space width 330px $mobile;

  @space padding-x sm;
  position: fixed;
  background-color: var(--brando-color-shaded);

  flex-shrink: 0;
  flex-grow: 0;
  overflow-y: auto;
  height: 100vh;

  #navigation-content {
    @space padding-bottom md;
    @space padding-top sm;
  }

  nav {
    position: relative;

    .nav-circle {
      content: "";
      position: absolute;
      width: 15px;
      height: 15px;
      background-color: #bbb;
      opacity: 0;
      margin-top: 12px;
      margin-left: -20px;
      transition: opacity 300ms ease;
      border-radius: 50%;
    }
  }
}
