[Unit]
Description=e2e_project staging
After=network.target
[Service]
Type=simple
User=e2e_project
Group=e2e_project
Restart=no
Environment=MIX_ENV=staging
Environment=LANG=en_US.UTF-8
Environment=LC_ALL=en_US.UTF-8
Environment=PLUG_TMPDIR=/tmp/e2e_project
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=HOME=/home/e2e_project
WorkingDirectory=/sites/staging/e2e_project
ExecStart=/sites/staging/e2e_project/bin/e2e_project start
ExecStop=/sites/staging/e2e_project/bin/e2e_project stop
StandardOutput=append:/sites/staging/e2e_project/log/e2e_project_staging.log
[Install]
WantedBy=multi-user.target
