<h1>Systeminformasjon</h1>

<div id="systeminfo">
  <div class="card" id="total-memory">
    <h4>Minne // totalt</h4>
    <div class="sparkline"></div>
    <div class="text">0 mb</div>
  </div>
  <div class="card" id="atom-memory">
    <h4>Minne // atomer</h4>
    <div class="sparkline"></div>
    <div class="text">0 mb</div>
  </div>
</div>