<!DOCTYPE html>
<html class="no-js" lang={@language}>
  <.head
    conn={@conn}
    fonts={[{:woff2, "/fonts/MyFont-Regular.woff2?vsn=d"}]}
  >
    <:prefetch>
      <link href="//player.vimeo.com" rel="dns-prefetch" />
    </:prefetch>

    <link rel="shortcut icon" href="/ico/favicon.ico">
    <meta name="format-detection" content="telephone=no" />
  </.head>
  <.body_tag conn={@conn} id="top">
    <%!-- <.cookie_law 
      button_text="OK"
      info_link="/privacy"
      info_text="Privacy">
      This webpage is using cookies for analytics (Not really, just an example).<br>
      Click OK to accept
    </.cookie_law> --%>
    <div class="backdrop"></div>
<!-- :nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <.navigation {assigns} />
<!-- /nav - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <%%= @inner_content %>
<!-- /content - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- :footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
    <.footer {assigns} />
<!-- /footer - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->

    <.include_legacy_assets />
    <!-- // vsn <%%= Application.spec(:<%= application_name %>, :vsn) %> -->
  </.body_tag>
</html>
