#application-login {
  opacity: 0;
}
.login {
  @space container;
  height: 100vh;
  position: relative;
  background-color: theme(colors.peachLighter);

  .brando-versioning {
    display: flex;
    align-items: center;
    position: absolute;
    opacity: 0;
    bottom: 5px;
    left: 5px;

    svg {
      height: 18px;
    }

    div {
      @fontsize 2xs;
      @space margin-left 10px;
      font-family: theme(typography.families.mono);
    }
  }

  .login-container {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .login-box {
    @column 10/16 desktop_xl;
    @column 10/16 desktop_lg;
    @column 12/16 desktop_md;
    @column 14/16 ipad_landscape;
    @column 14/16 ipad_portrait;
    @column 16/16 $mobile;

    max-width: 920px !important;
    background-color: var(--brando-color-peach);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.02), 0 6.7px 5.3px rgba(0, 0, 0, 0.028),
      0 12.5px 10px rgba(0, 0, 0, 0.035), 0 22.3px 17.9px rgba(0, 0, 0, 0.042),
      0 41.8px 33.4px rgba(0, 0, 0, 0.05), 0 100px 80px rgba(0, 0, 0, 0.07);
    display: flex;

    @responsive $mobile {
      flex-direction: column;
    }

    .figure-wrapper {
      @column 5/10 >mobile;
      @space padding container;
      display: flex;
      justify-content: center;
      align-items: center;

      figure {
        width: 100%;
      }
    }

    .login-form {
      @column 5:1/10 >mobile;
      background-color: #ffffff;
      @space padding container;
    }
  }

  .title {
    @space margin-bottom sm;
    font-family: theme(typography.families.mono);
    font-size: 20px;
  }

  .small {
    font-size: 14px;
  }
}
