.children-button {

  justify-content: center;
  display: flex;

  a {
    padding-top: 16px;
    display: inline-block;
  }

  button {
    padding-top: 10px;
  }

  button, a {
    @fontsize xs/1;
    color: var(--brando-color-dark); 
    border: 1px solid var(--brando-color-dark);
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    padding-bottom: 9px;
    user-select: none;
    text-align: center;
    transition: background-color 0.25s ease, border-color 0.25s ease;
    max-width: 44px;

    &.active {
      background-color: var(--brando-color-dark); 
      border-color: var(--brando-color-dark); 
      color: theme(colors.peach);
    }

    &:hover {
      background-color: var(--brando-color-dark); 
      border-color: var(--brando-color-dark); 
      color: theme(colors.peach);
    }
  }
}