.circle-flag {
  width: 32px;
  height: 32px;
  border-radius: 20px;
  border-color: transparent !important;
  box-shadow: 1px 1px 3px #00000030;
  line-height: 1;
  background-color: #fff;

  svg {
    width: 22px;
  }
}