.circle-dropdown {
  button {
    border: none;

    &.open {
      svg {
        .main-circle {
          fill: var(--brando-color-dark);

          &.inverted {
            fill: var(--brando-color-peach);
          }
        }
        line {
          transition: stroke 0.3s ease;
          stroke: var(--brando-color-peach);

          &.inverted {
            fill: var(--brando-color-dark);
          }
        }
        circle {
          transition: fill 0.3s ease;
          fill: var(--brando-color-peach);

          &.inverted {
            fill: var(--brando-color-dark);
          }
        }
      }
    }

    svg {
      pointer-events: none;

      line {
        transition: stroke 0.3s ease;
        stroke: var(--brando-color-dark);

        &.inverted {
          stroke: var(--brando-color-peach);
        }
      }

      circle {
        transition: fill 0.3s ease;
        fill: var(--brando-color-dark);
      }

      .main-circle {
        transition: fill 0.3s ease;
        stroke: var(--brando-color-transparent);
        fill: transparent;

        &.inverted {
          stroke: var(--brando-color-peach);
        }
      }
    }

    &:hover {
      svg {
        line {
          transition: stroke 0.3s ease;
          stroke: var(--brando-color-peach);
        }
        circle {
          transition: fill 0.3s ease;
          fill: var(--brando-color-peach);
        }
        .main-circle {
          transition: fill 0.3s ease;
          fill: var(--brando-color-dark);
        }
      }
    }
  }

  .dropdown-content {
    display: none;
    opacity: 0;
    background-color: var(--brando-color-peach);
    color: var(--brando-color-dark); 
    position: absolute;
    width: 250px;
    border: 1px solid var(--brando-color-dark);
    z-index: 2;

    li {
      a, button {
        @font mono;
        display: block;
        padding: 15px;
        text-align: right;
        line-height: 1;
        float: right;
        width: 100%;
        font-size: 15px;
        text-transform: uppercase;

        &:hover {
          background-color: var(--brando-color-dark); 
          color: theme(colors.peach);
        }
      }
    }
  }

  &.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }
}