.drawer {
  height: 100vh;
  z-index: 999;
  width: 650px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #052753;
  color: azure;
  overflow-x: hidden;
  overflow-y: scroll;

  .inner {
    @space padding-y 15px;
    @space padding-x sm;
  }

  .drawer-close-button {
    color: azure;
    border: 1px solid azure;
    padding: 10px 20px;
    border-radius: 25px;
    transition: color 450ms ease, background-color 450ms ease;

    &:hover {
      background-color: azure;
      color: #052753;
    }
  }

  .button-group {
    display: flex;
    width: 100%;
    @space margin-top 35px;
    @space margin-bottom 20px;

    button {
      margin-top: 0 !important;
      display: flex;
      flex-grow: 1;
      text-align: center;

      &:first-of-type {
        border-radius: 30px 0 0 30px;
      }

      &:last-of-type {
        border-radius: 0 30px 30px 0;
      }    

      + button {
        margin-left: -1px;
      }
    }
  }

  .drawer-header {
    @space margin-bottom 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @fontsize 35px;
    }
  }

  .input-image .image-wrapper-compact .image-info .btn-small:hover {
    color: var(--brando-color-dark);
  }

  button.secondary {
    color: azure;
    border-color: azure !important;

    &:hover {
      color: #052753;
    }
  }

  .drawer-info {
    @space padding-y 20px;

    p {
      @space margin-bottom 15px;

      &:last-of-type {
        @space! margin-bottom 15px;
      }
    }
  }

  .drawer-form {
    input,
    textarea {
      background-color: transparent;
      color: azure;
      border: 1px solid azure;
    }

    .character-count,
    .prefill-small {
      border-color: azure !important;
    }
  }

  .revisions-table {
    width: 100%;

    .revisions-line {
      cursor: pointer;

      &.active {
        td {
          background-color: azure;
          color: #052753;

          button {
            color: #052753;
            border-color: #052753;
          }
        }

        svg {
          path {
            &:nth-of-type(2) {
              fill: var(--brando-color-dark);
            }
          }
        }

        .circle-dropdown {
          .main-circle {
            stroke: #052753;
          }

          line {
            stroke: #052753;
          }

          &:hover {
            line {
              stroke: azure;
            }
          }
        }
      }

      svg {
        path {
          &:nth-of-type(2) {
            fill: azure;
          }
        }
      }

      td {
        @font mono;
        white-space: pre-line;
        border: 1px solid azure;
        padding: 3px 10px;
        font-size: 13px;
        transition: color 250ms ease, background-color 250ms ease;

        &.fit {
          white-space: nowrap;
          min-width: 34px;
        }

        &.active {
          width: 30px;
          text-align: center;
        }

        &.revision-description {
          padding: 10px 10px;
        }

        &.activate {
          @font main;
        }

        .circle-dropdown {
          .main-circle {
            stroke: azure;
          }

          line {
            stroke: azure;
          }

          &:hover {
            line {
              stroke: azure;
            }
          }

          ul li button:hover {
            @color bg black;
          }
        }
      }
    }
  }
}