
.grid-overlay {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    background-image: linear-gradient(45deg,rgba(123,140,168,.1) 25%,transparent 0),linear-gradient(-45deg,rgba(123,140,168,.1) 25%,transparent 0),linear-gradient(45deg,transparent 75%,rgba(123,140,168,.1) 0),linear-gradient(-45deg,transparent 75%,rgba(123,140,168,.1) 0);
    background-size: 16px 16px;
    background-position: 0 0,0 8px,8px -8px,-8px 0;
    border-radius: 2px;
    overflow: hidden;
    z-index: -1;
  }
}

.drawer {
  height: 100vh;
  z-index: 999;
  width: 650px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #052753;
  color: azure;
  overflow-x: hidden;
  overflow-y: scroll;

  &.dark {
    background-color: #000000;
  }

  &.narrow {
    width: 425px;
  }

  .inner {
    @space padding-y 15px;
    @space padding-x sm;
  }

  .drawer-close-button {
    color: azure;
    border: 1px solid azure;
    padding: 10px 20px;
    border-radius: 25px;
    transition: color 450ms ease, background-color 450ms ease;

    &:hover {
      background-color: azure;
      color: #052753;
    }
  }

  .img-placeholder {
    background-color: transparent !important;
    color: azure;
    padding: 2vw;
    border: 1px solid azure;
    border-radius: 20px;

    .instructions {
      text-align: center;
      font-size: 15px;
    }

    svg {
      margin-left: auto;
      margin-right: auto;
      user-select: none;
      pointer-events: none;
      width: 200px;

      path:nth-of-type(2), .plus, circle {
        user-select: none;
        pointer-events: none;
        fill: azure;
      }
    }
  }

  .button-group {
    display: flex;
    width: 100%;
    @space margin-top 35px;
    @space margin-bottom 20px;

    &.vertical {
      flex-direction: column;

      .file-input-button {
        position: relative;
        @extend %btnSecondary;
        text-align: center;
        border: 1px solid azure !important;
        color: azure;

        &:hover {
          background-color: azure;
          color: #052753;
          cursor: pointer;
        }

        input[type=file] {
          display: inline-block;
          position: absolute;
          z-index: 1;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          opacity: 0;
          cursor: pointer;
        }
      }

      > * {
        border-radius: 0 !important;

        &:first-child {
          border-top-left-radius: 30px !important;
          border-top-right-radius: 30px !important;
          border-bottom-left-radius: 0 !important;
          border-bottom-right-radius: 0 !important;
          margin-top: 0 !important;
        }

        &:last-child {
          border-top-left-radius: 0 !important;
          border-top-right-radius: 0 !important;
          border-bottom-left-radius: 30px !important;
          border-bottom-right-radius: 30px !important;
        }     

        + * {
          margin-left: 0;
          margin-top: -1px !important;
        }
      }

      .file-input-button + button {
        margin-top: -1px !important;
      }

      button {
        display: block;         
        
        &:hover {
          background-color: azure;
          color: #052753;
          cursor: pointer;
        }
      }
    }

    button {
      margin-top: 0 !important;
      display: flex;
      flex-grow: 1;
      text-align: center;

      &:first-of-type {
        border-radius: 30px 0 0 30px;
      }

      &:last-of-type {
        border-radius: 0 30px 30px 0;
      }    

      + button {
        margin-left: -1px;
      }
    }
  }

  .drawer-header {
    @space margin-bottom 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      @fontsize 35px;
    }
  }

  .input-image .image-wrapper-compact .image-info .btn-small:hover {
    color: var(--brando-color-dark);
    background-color: azure;
  }

  button.secondary {
    color: azure;
    border-color: azure !important;

    &:hover {
      color: #052753;
    }
  }

  .drawer-info {
    @space padding-y 20px;

    p {
      @space margin-bottom 15px;

      &:last-of-type {
        @space! margin-bottom 15px;
      }
    }
  }

  .drawer-form {
    input,
    textarea {
      background-color: transparent;
      color: azure;
      border: 1px solid azure;
    }

    .character-count,
    .prefill-small {
      border-color: azure !important;
    }
  }

  .revisions-table {
    width: 100%;

    .revisions-line {
      cursor: pointer;

      &.active {
        td {
          background-color: azure;
          color: #052753;

          button {
            color: #052753;
            border-color: #052753;
          }
        }

        svg {
          path {
            &:nth-of-type(2) {
              fill: var(--brando-color-dark);
            }
          }
        }

        .circle-dropdown {
          .main-circle {
            stroke: #052753;
          }

          line {
            stroke: #052753;
          }

          &:hover {
            line {
              stroke: azure;
            }
          }
        }
      }

      svg {
        path {
          &:nth-of-type(2) {
            fill: azure;
          }
        }
      }

      td {
        @font mono;
        white-space: pre-line;
        border: 1px solid azure;
        padding: 3px 10px;
        font-size: 13px;
        transition: color 250ms ease, background-color 250ms ease;

        &.fit {
          white-space: nowrap;
          min-width: 34px;
        }

        &.active {
          width: 30px;
          text-align: center;
        }

        &.revision-description {
          padding: 10px 10px;
        }

        &.activate {
          @font main;
        }

        .circle-dropdown {
          .main-circle {
            stroke: azure;
          }

          line {
            stroke: azure;
          }

          &:hover {
            line {
              stroke: azure;
            }
          }

          ul li button:hover {
            @color bg black;
          }
        }
      }
    }
  }
}