.alert {
  margin-top: 10px;
  color: var(--brando-color-dark);  
  font-family: 'Mono';
  font-size: 12px;
  padding: 10px;
  align-items: flex-start;
  gap: 10px;
  position: relative;

  strong {
    text-decoration: underline;
    text-decoration-style: wavy;
  }

  .content {
    margin-top: 0.5em;
  }

  .icon {
    margin-top: 2px;
  }

  .close {
    position: absolute;
    right: 8px;
    top: 8px;

    button {
      border: none;
      background-color: white;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--brando-color-dark);
        span[data-icon] {
          background-color: white;
        }
      }
    }
  }
}

.brando-form {
  display: flex;
  flex-direction: row;

  .form-content {
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;

    .form-header {
      @space margin-top sm;
      @space margin-bottom sm;
    }
  }

  .live-preview-wrapper {
    position: relative;
    margin-right: -25px;
    margin-left: 15px;
    user-select: none;
  }
  
  .live-preview {
    position: sticky;
    top: 0px;
    width: 0;
    overflow: hidden;
    height: 100vh;
    z-index: 9;
    display: flex;
    flex-direction: column;
    pointer-events: all;

    > a {
      z-index: 99;
      pointer-events: all;
    }

    .live-preview-divider {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 10px;
      z-index: 10;
      background-color: transparent;
      cursor: col-resize;
      border-left: 1px solid var(--brando-color-dark);
    }

    .live-preview-targets {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--brando-color-dark);

      .live-preview-targets-buttons {
        @space margin-top 7px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      button {
        border: none;
        z-index: 99;
        pointer-events: all;
        user-select: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4px 10px;
        margin: 0 7px;

        &:hover {
          background-color: ghostwhite;
        }

        span {
          font-size: 11px;
          text-align: center;
        }
      }
    } 

    .live-preview-iframe-wrapper {
      border-left: 1px solid var(--brando-color-dark);
    }

    iframe {
      border: none;
      height: 100%;
      transform-origin: top left;

      &[data-live-preview-device="desktop"] {
        width: 1440px;
      }

      &[data-live-preview-device="tablet"] {
        width: 768px;
      }

      &[data-live-preview-device="mobile"] {
        width: 375px;
      }
    }
  }

  fieldset {
    border: none;
    width: 100%;

    &.full, &.half, &.sized {
      margin-bottom: 25px;
    }

    &.inline {
      display: flex;
      flex-wrap: nowrap;
      width: 100%;
      margin-bottom: 10px;
      padding-left: 0;
      border-left: none;

      .brando-input {
        flex-grow: 1;
        margin-right: 5px;
      }
    }
  }

.brando-input:last-of-type .field-wrapper {
  margin-bottom: 0;
}

.brando-input[data-size="full"] {
  width: 100%;
  clear: both;
}

.brando-input[data-component="hidden"] {
  display: none;
}

.brando-input[data-size="half"] {
  width: 50%;
  float: left;
  padding-right: 5px;
}

.brando-input[data-size="half"] + .brando-input[data-size="half"] {
  padding-right: 0;
}

.brando-input[data-size="third"] {
  width: 33.33333%;
  float: left;
}

  .form-tab {
    display: none;
    &.active {
      display: block;
    }
  }
  
  .row {
    display: grid;
    @space grid-column-gap 1;
    grid-template-columns: repeat(16, minmax(0px, 1fr));
    grid-template-rows: min-content;

    .full {
      grid-column: 1/span 16;
    }

    .half {
      grid-column: 1/span 8;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .half + .half {
      grid-column: 9/span 8;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .third {
      grid-column: 1/span 5;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .third + .third {
      grid-column: 6/span 5;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .third + .third + .third {
      grid-column: 11/span 5;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .sized {
      grid-column: 1/span 12;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    .sized + .half {
      grid-column: 13/span 4;
      @responsive $mobile {
        grid-column: 1/span 16;
      }
    }

    &.baseline {
      align-items: baseline;
    }
  }
}

.align-end {
  align-self: flex-end;
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  border: none;

  &.toggled {
    .slider {
      background-color: #66bb6a;
    }

    .slider:before {
      transform: translateX(24px);
    }

    .slider:after {
      transform: translateX(24px);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(102,187,106,1)'/%3E%3C/svg%3E");
    }

    &.small {
      .slider:before {
        transform: translateX(10px);
      }

      .slider:after {
        display: none;
      }
    }
  }

  &.small {
    height: 15px;
    width: 25px;
    margin-top: -1px;

    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(10px);
    }

    input[type="checkbox"]:checked + .slider:after {
      display: none;
    }

    .slider {
      &:before {
        background-color: #fff;
        bottom: 2px;
        content: "";
        height: 11px;
        left: 2px;
        position: absolute;
        transition: .4s;
        width: 11px;
      }

      &:after {
        display: none;
      }
    }
  }

  &.inverse {
    .slider {
      background-color: #bc3d3d;
      &:before {
        transform: translateX(10px);
      }
    }
    
    input[type="checkbox"]:checked + .slider {
      background-color: #adadad;
    }
    
    input[type="checkbox"]:checked + .slider:before {
      transform: translateX(0);
    }
  }

  input {
    display: none;
  }

  .slider {
    background-color: #3d3d3d;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: .4s;

    &:before {
      background-color: #fff;
      bottom: 3px;
      content: "";
      height: 28px;
      left: 4px;
      position: absolute;
      transition: .4s;
      width: 28px;
    }

    &:after {
      content: '';
      bottom: 3px;
      height: 28px;
      left: 4px;
      width: 28px;
      text-align: center;
      position: absolute;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z' fill='rgba(61,61,61,1)'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: 50%;
      transition: .4s;
      
    }

    &.round {
      border-radius: 34px;
    }

    &.round:before {
      border-radius: 50%;
    }
  }

  input[type="checkbox"]:checked + .slider {
    background-color: #66bb6a;
  }

  input[type="checkbox"]:checked + .slider:before {
    transform: translateX(24px);
  }

  input[type="checkbox"]:checked + .slider:after {
    transform: translateX(24px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='16' height='16'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M10 15.172l9.192-9.193 1.415 1.414L10 18l-6.364-6.364 1.414-1.414z' fill='rgba(102,187,106,1)'/%3E%3C/svg%3E");
  }
}

.form-tabs {
  margin-bottom: 25px;
  background-color: var(--brando-color-shaded);
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 5px;
  position: sticky;
  z-index: 2;
  @space padding-x 15px;

  @responsive $mobile {
    flex-direction: column;
    align-items: flex-start;

    .form-tab-customs {
      margin-bottom: 10px;
    }
  }

  .form-tab-customs {
    display: flex;

    button {
      font-size: 15px;
      display: inline-flex;
      padding: 8px 12px;
      border: 1px solid transparent;
      margin-left: -1px;
      color: var(--brando-color-dark);
      background-color: var(--brando-color-white);
      border-radius: 18px;
      margin-right: 15px;

      &:hover {
        border: 1px solid var(--brando-color-dark);
      }

      &.active {
        background-color: var(--brando-color-dark);
        color: var(--brando-color-white);
      }
    }
  }

  .form-tab-builtins {
    display: flex;

    > * {
      &:first-child {
        border-top-left-radius: 18px;
        border-bottom-left-radius: 18px;
        padding-left: 15px;

        > button:first-child {
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
        }

        > .split-dropdown-button {
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
        }
      }

      &:last-child {
        border-top-right-radius: 18px;
        border-bottom-right-radius: 18px;
        padding-right: 15px;

        > .split-dropdown-wrapper {
          > .split-dropdown-button {
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;
          }
        }
      }

      &.active {
        background-color: var(--brando-color-dark);
        color: var(--brando-color-peach);
        svg {
          path:nth-of-type(2) {
            fill: var(--brando-color-peach);
          }
        }

        &:hover {
          background-color: var(--brando-color-dark);
          color: var(--brando-color-peach);
          svg {
            path:nth-of-type(2) {
              fill: var(--brando-color-peach);
            }
          } 
        }
      }
    }

    .split-dropdown {
      padding: 0;

      &:hover {
        background-color: transparent;
      }

      > button, .split-dropdown-wrapper > button {
        font-size: 15px;
        display: inline-flex;
        align-items: center;
        padding: 7px 12px 8px;
        background-color: transparent;
        border: none;

        &:hover {
          background-color: var(--brando-color-white);
        }

        &:first-child {
          margin-left: 0;
        }

        svg {
          margin-top: 1px;
        }
      }

      > button {
        border-right: 1px solid var(--brando-color-dark);
      }

      .split-dropdown-button {
        border-right: none;
      }
    }

    .tab-text {
      @space padding-left 10px;

      @responsive <=ipad_landscape {
        display: none;
        padding-left: 0;
      }
    }

    > * {
      font-size: 15px;
      display: inline-flex;
      align-items: center;
      border: 1px solid var(--brando-color-dark);    
      padding: 7px 12px 8px;
      margin-left: -1px;
      background-color: transparent;

      &:hover {
        background-color: var(--brando-color-white);
      }

      &:first-child {
        margin-left: 0;
      }

      svg {
        margin-top: 1px;
      }
    }
  }
}

.shortcut {
  font-size: 11px;
  border: 1px solid black;
  margin-left: 6px;
  background-color: white;
  border-radius: 6px;
  padding: 4px 3px;
}