.split-dropdown-wrapper {
  .dropdown-content {
    @extend %admin_dropdown_panel;
    position: absolute;
    z-index: 2;
    top: 50px;
    right: 0;
    &.over { top: auto; bottom: 50px; }
  }
  &.wrapper { position: relative; display: flex; justify-content: center; }
}
