.variable {
  &.text {
    textarea.text {
      background-color: #fafafa;
    }
  }

  &.boolean {
    .field-base {
      display: flex;
    }
  }

  &.select {
    .multiselect {
      gap: 2em;
      height: 32px;
      padding-left: 9px;
      padding-right: 9px;
      border-radius: 6px;
      @font mono;
      font-size: 12px !important;
      text-transform: uppercase;

      .button-edit {
        font-size: 12px;
        text-transform: uppercase;
        padding: 4px 6px 4px;
        border-radius: 11px;
        border-color: inherit;
      }
    }
  }

  .image-info,
  .file-info {
    @fontsize 13px;
    @space margin-top 15px;
  }

  .image-picker-images {
    display: grid;
    grid-gap: 1vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: min-content;
  }

  .file-input {
    display: none;
  }

  .empty {
    background-color: var(--brando-color-peach);
    color: var(--brando-color-dark);
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 1vw;
    border-radius: 25px;

    .placeholder-wrapper {
      margin-bottom: 25px;

      svg {
        width: 200px;
        user-select: none;
        pointer-events: none;

        path:nth-of-type(2),
        .plus,
        circle {
          user-select: none;
          pointer-events: none;
          fill: var(--brando-color-dark);
        }
      }
    }

    &.hidden {
      display: none !important;
    }

    .instructions {
      font-size: 16px;

      button {
        margin-top: 10px;
      }
    }
  }

  .upload-canvas {
    &.dragging {
      background-color: theme(colors.peachDarker) !important;
      cursor: plus;

      svg .plus {
        backface-visibility: hidden;
      }
    }
  }
}

.brando-input .link-preview .icon {
  background-color: white;
  border: 1px dashed #333;
}

.link-preview {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #fafafa;
  width: fit-content;
  padding: 7px 15px 7px 7px;
  border-radius: 7px;
  cursor: cell;
  border: 1px dashed;

  .icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: var(--brando-color-dark);
    border-radius: 50%;

    span {
      width: 15px;
      height: 15px;
    }
  }

  .info {
    @font mono;
    font-size: 10px;
    text-transform: uppercase;

    .link-text {
      text-transform: none;

      svg {
        float: left;
        margin-right: 5px;
        width: 7px;
        height: 7px;
        margin-top: 3px;

        circle {
          fill: theme(colors.status.published);

          &.draft {
            fill: theme(colors.status.draft);
          }

          &.pending {
            fill: theme(colors.status.pending);
          }

          &.published {
            fill: theme(colors.status.published);
          }

          &.disabled {
            fill: theme(colors.status.disabled);
          }

          &.deleted {
            fill: #111;
          }
        }
      }
    }

    dl {
      display: flex;

      dt {
        font-weight: 600;
      }

      dd {
        text-transform: none;
      }
    }
  }
}
