<main id="content">
  <div class="page-header">
    <h2>Latest projects</h2>
    <p class="intro">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur porro nulla error tempora in quisquam assumenda a ex quae sed natus molestiae, expedita quis atque similique veniam, cum ipsam temporibus?
    </p>
  </div>

  <.list_projects projects={@projects} conn={@conn} />
</main>
