        <KInput
          v-model="<%= vue_singular %>.<%= k %>"
          name="<%= vue_singular %>[<%= k %>]"
          rules="required"
          :label="$t('<%= vue_plural %>.fields.<%= k %>.label')"
          :placeholder="$t('<%= vue_plural %>.fields.<%= k %>.placeholder')"
          :help-text="$t('<%= vue_plural %>.fields.<%= k %>.help_text')" />