        <KInputImage
          v-model="<%= vue_singular %>.<%= k %>"
          name="<%= vue_singular %>[<%= k %>]"
          preview-key="original"
          rules="required"
          :label="$t('<%= vue_plural %>.fields.<%= k %>.label')"
          :help-text="$t('<%= vue_plural %>.fields.<%= k %>.help_text')" />