    <h1><%= gettext("New post") %></h1>
    <%= PostForm.get_form(type: :create, action: :create, params: [], changeset: @changeset) %>
    <%= Brando.Villain.HTML.initialize(
          base_url:     "/admin/news/",
          image_series: "post",
          source:       "textarea[name=\"post[data]\"]") %>