    <h1><%= gettext("Edit page") %></h1>
    <%= PageForm.get_form(type: :update, action: :update, params: to_string(@id), changeset: @changeset) %>
    <%= Brando.Villain.HTML.initialize(
          base_url:     "/admin/pages/",
          image_series: "page",
          source:       "textarea[name=\"page[data]\"]") %>
