    <h1>Endre side</h1>
    <%= PageForm.get_form(type: :update, action: :update, params: to_string(@id), values: assigns[:page], errors: assigns[:errors]) %>
    <script type="text/javascript">
      $(document).ready(function() {
        v = new Villain.Editor({
          browseURL: 'villain/bla/',
          uploadURL: 'villain/last-opp/',
          textArea: 'textarea[name="page[data]"]'
        });
      });
     </script>