    <h1><%= t!(@language, "actions.edit") %></h1>
    <%= PageForm.get_form(@language, type: :update, action: :update, params: to_string(@id), changeset: @changeset) %>
    <%= Brando.Villain.HTML.initialize(
          browse_url: "/admin/pages/villain/browse/page",
          upload_url: "/admin/pages/villain/upload/page",
          source:     "textarea[name=\"page[data]\"]") %>
