    <h1><%= t!(@language, "actions.new") %></h1>
    <%= PageForm.get_form(@language, type: :create, action: :create, params: [], values: assigns[:page], errors: assigns[:errors]) %>
    <%= Brando.Villain.HTML.initialize(
          browse_url: "/admin/pages/villain/browse/page",
          upload_url: "/admin/pages/villain/upload/page",
          source:     "textarea[name=\"page[data]\"]") %>