  <h1><%= gettext("Edit user") %></h1>
  <%= UserForm.get_form(type: :update, action: :update, params: to_string(@id), changeset: assigns[:changeset]) %>
  <div class="form-actions">
  <a href="<%= Brando.helpers.admin_user_path(@conn, :index) %>" class="btn btn-default">
    <i class="fa fa-list fa-fw m-r-sm"></i> <%= gettext("Back to index") %>
  </a>
  </div>