  <div class="data-table">
    <h1>Brukerprofil</h1>
    <%= Brando.HTML.Inspect.model(@user) %>
    <div class="form-actions">
      <a href="<%= Helpers.admin_user_path(@conn, :index) %>" class="btn btn-default">
        <i class="fa fa-list fa-fw m-r-sm"></i> Tilbake til oversikten
      </a>
      <%= auth_link @conn, Helpers.admin_user_path(@conn, :edit, @user.id), :superuser do %>
        <i class="fa fa-edit fa-fw m-r-sm"></i> Editer profil
      <% end %>
    </div>
  </div>