.image-picker {
  &.grid {
    @row 3/wrap/1;

    .image-picker__image {
      @column 1/3;
      @space padding 0.5vw;
      background-color: white;
      cursor: pointer;

      img {
        aspect-ratio: 1/1;
        object-fit: cover;
      }
    }  
    
    .image-picker__info {
      display: none;
    }
  }

  &.list {
    .image-picker__image {
      @row 2;
      @space margin-bottom 25px;
      cursor: pointer;

      img {
        width: 100px;
        max-width: 100px;
        min-width: auto;
      }

      .image-picker__info {
        @font mono;
        flex-grow: 1;
        font-size: 14px;
        color: #ddd;
        .image-picker__filename {
          color: #fff;
          margin-bottom: 3px;
        }
      }
    }
  }
}