<style>
  #wrapper {
      display: table;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
  }

  .password {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
  }
</style>

<div id="wrapper">
    <form class="password" action="" method="post">
      <p>UNDER CONSTRUCTION.</p>
      <p><input name="password" type="password" /></p>
      <p><input type="submit" value="Enter with password" /></p>
    </form>
</div>
