.globals-live {
  @row 2;

  .categories {
    @column 5/16;

    h2 {
      font-size: 12px;
      margin-bottom: 12px;
      text-align: center;
    }

    button {
      @fontsize sm;
      width: 100%;
      border: 1px solid theme(colors.dark);
      padding: 15px;

      &.selected {
        @color bg dark;
        @color fg peach;
      }

      + button {
        margin-top: -1px;
      }

      &:first-of-type {
        border-radius: 25px 25px 0 0;
      }

      &:last-of-type {
        border-radius: 0 0 25px 25px;
      }
    }
  }
}