.scheduled-publishing-live {
  .help {
    max-width: 60ch;
  }

  h1 {
    @space margin-top 4vw;
    @space margin-bottom 20px;
    text-transform: capitalize;
  }

  table {
    @space margin-bottom 35px;
    @space margin-top 35px;
    width: 100%;

    th {
      @fontsize base(0.6);
      padding-left: 15px;
      text-align: left;
    }

    td {
      @font mono;
      @fontsize base(0.8);
      border: 1px solid;
      padding: 10px 15px;

      .badge {
        width: 100%;
        text-align: center !important;
        justify-content: center;
      }

      svg {
        display: inline;
      }

      &.date {
        @font mono;
        @fontsize base(0.8);
      }

      &.state {
        svg {
          circle {
            fill: theme(colors.blue);

            &.retryable {
              fill: theme(colors.status.draft);
            }

            &.scheduled {
              fill: theme(colors.status.pending);
            }

            &.completed, &.executing {
              fill: theme(colors.status.published);
            }

            &.discarded {
              fill: theme(colors.status.disabled);
            }
          }
        }
      }
    }

    small {
      @font mono;
      @fontsize base(0.8);
    }
  }
}