.field-wrapper {
  &.subform {
    background-color: var(--brando-color-shaded);
    padding: 15px;
    border-radius: 20px;

    .text {
      @fontsize sm;

      &::placeholder {
        @fontsize sm;
      }
    }

    .meta {
      position: static;
      padding-bottom: 12px;
      margin-top: -9px;
    }

    .actions {
      display: flex;
      column-gap: 10px;
    }

    .upload-button {
      position: relative;
      cursor: pointer;
      border: 1px solid var(--brando-color-dark);
      font-size: 17px;
      padding: 12px 20px 12px;
      border-radius: 25px;
      display: flex;
      align-items: center;
      margin-top: 15px;
      transition: background-color 250ms ease, color 250ms ease;
      display: inline-flex;
      
      &:hover {
        background-color: var(--brando-color-dark);
        color: var(--brando-color-peach);
      }
      
      > * {
        cursor: pointer;
      }
      
      svg {
        margin-right: 10px;
      }
      
      input[type=file] {
        display: inline-block;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        cursor: pointer;
      }
    }

    .multiselect {
      @fontsize sm;
      height: 45px;

      .button-edit {
        font-size: 14px;
      }
    }

    .label-wrapper {
      margin-bottom: 15px;
    }

    .subform-empty {
      font-size: 18px;
    }

    .subform-entry {      
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;
      background-color: white;
      border-radius: 12px;
      padding: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &.listing {
        .subform-listing {
          @space column-gap 1;
          display: flex;
          align-items: center;
          width: 100%;

          [data-phx-component] {
            flex-shrink: 0;
          }

          > div > .field-wrapper > .label-wrapper.hidden {
            display: none;
          }

          .subform-listing-row {
            display: flex;
            @space column-gap 1;
            width: 100%;

            > div {
              flex-grow: 1;

              &[class^="col-"] {
                flex-grow: 0;
              }
            }
          }

          .field-wrapper {
            margin-bottom: 0 !important;
          }
        }
        .subform-fields {
          display: none;
        }
      }

      .subform-listing {
        display: none;
        font-size: 16px;
      }

      &.group {
        flex-direction: row;

        .subform-fields {
          flex-grow: 1;
        }
      }

      &.inline {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;
        border-left: none;
        background-color: white;
        border-radius: 12px;
        padding: 10px;

        .label-wrapper {
          height: 0;
          overflow: hidden;
        }

        .help-text {
          display: none;
        }

        .subform-tools {
          justify-content: flex-start;
        }

        .subform-fields {
          display: flex;
          width: 100%;
        }

        &:first-of-type {
          .label-wrapper {
            @space margin-bottom 0.5vw;
            height: auto;
            overflow: visible;
          }

          .help-text {
            display: block;
          }

          .subform-tools {
            padding-top: 20px;
          }
        }

        .brando-input {
          flex-grow: 1;
          margin-right: 5px;
          flex-shrink: 1;
          width: auto;

          &.full-width {
            flex-basis: 100%;
            flex-shrink: 1;
          }

          &[data-component="toggle"] {
            flex-grow: 0;
            flex-shrink: 0;

            .field-base {
              padding-top: 8px;
            }
          }

          &[data-component="status"][data-compact] {
            flex-grow: 0;
            flex-shrink: 1;
          }

          .field-wrapper {
            margin-bottom: 0;
          }

          .label-wrapper {
            margin-bottom: 3px;

            label {
              font-size: 14px;
            }

            .field-error {
              font-size: 11px;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}