.field-wrapper {
  &.subform {
    background-color: var(--brando-color-shaded);
    padding: 15px;
    border-radius: 20px;

    .text, .tiptap-wrapper {
      background-color: #fff;
    }

    .text {
      @fontsize sm;

      &::placeholder {
        @fontsize sm;
      }
    }

    .multiselect {
      @fontsize sm;
      background-color: #fff;
      height: 45px;

      .button-edit {
        font-size: 14px;
      }
    }

    .label-wrapper {
      margin-bottom: 15px;
    }

    .subform-empty {
      font-size: 18px;
    }

    .subform-entry {
      border-left: 4px solid #dac5d1;
      padding-left: 15px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      &.group {
        flex-direction: row;

        .subform-fields {
          flex-grow: 1;
        }
      }

      &.inline {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 0;
        border-left: none;

        .label-wrapper {
          height: 0;
          overflow: hidden;
        }

        .help-text {
          display: none;
        }

        .subform-tools {
          justify-content: flex-start;
        }

        &:first-of-type {
          .label-wrapper {
            @space margin-bottom 0.5vw;
            height: auto;
            overflow: visible;
          }

          .help-text {
            display: block;
          }

          .subform-tools {
            padding-top: 20px;
          }
        }

        .brando-input {
          flex-grow: 1;
          margin-right: 5px;

          &.full-width {
            flex-basis: 100%;
            flex-shrink: 1;
          }

          &[data-component="toggle"] {
            flex-grow: 0;
            flex-shrink: 0;
          }

          .field-wrapper {
            margin-bottom: 0;
          }

          .label-wrapper {
            margin-bottom: 3px;

            label {
              font-size: 14px;
            }

            .field-error {
              font-size: 11px;
              padding-right: 5px;
            }
          }
        }
      }
    }
  }
}