<!DOCTYPE html>
<html lang="en" class="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= app_name %> | <%= assigns[:page_title] || "Administrasjon" %></title>
    <link rel="stylesheet" href="<%= Helpers.static_path(@conn, "/css/brando.css") %>">
    <link rel="stylesheet" href="<%= Helpers.static_path(@conn, "/css/brando.vendor.css") %>">
    <%= render_existing Phoenix.Controller.view_module(@conn), "_stylesheets." <> Phoenix.Controller.view_template(@conn), assigns %>

    <script type="text/javascript" src="<%= Helpers.static_path(@conn, "/js/brando.vendor.js") %>" charset="utf-8"></script>
    <script type="text/javascript" src="<%= Helpers.static_path(@conn, "/js/brando.js") %>" charset="utf-8"></script>
    <%= render_existing Phoenix.Controller.view_module(@conn), "_scripts." <> Phoenix.Controller.view_template(@conn), assigns %>
  </head>

  <body<%= if @conn.private[:brando_section_name] do %> id="<%= @conn.private[:brando_section_name] %>" data-script="<%= @conn.private[:brando_section_name] %>-<%= @conn.private[:phoenix_action] %>"<% end %>>
    <main id="burger" class="show-for-small-only">
      <header>
        <button>☰</button>
      </header>
    </main>
<!-- top menu -->
    <div id="topmenu" class="clearfix">
      <div class="toolbar pull-right">
        <button class="logbutton"> <i class="fa fa-fw fa-life-ring"></i></button>
      </div>
    </div>
<!-- /top menu -->
    <div class="grid-frame">
      <div id="menu" class="collapse grid-content shrink">
        <div class="menu-profile">
          <!-- menu top with avatar & info -->
          <div class="avatar">
            <img src="<%= img(current_user(@conn).avatar, :thumb, [default: Helpers.static_path(@conn, "/images/brando/defaults/avatar_default.jpg"), prefix: media_url()]) %>" />
          </div>
          <div class="name">
            <%= current_user(@conn).full_name %>
          </div>
          <div class="role">
            Administrator
          </div>
        </div>
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <%= for menu <- get_menus(@language) do %>
              <%= render_menu_item(@conn, menu) %>
            <% end %>
          </ul>
        </nav>
        <!-- / nav -->
        <script>
          $(function () {
            // open the submenu.
            $('.menuitem.active').parent().parent().addClass('active');
          });
        </script>
      <!-- /#menu -->
      </div>

      <div id="content-wrapper" class="grid-block noscroll">
        <div id="content" class="grid-content">
        <%= if get_flash(@conn, :error) do %>
          <div class="alert alert-block alert-danger">
            <a class="close pull-right" data-dismiss="alert" href="#">×</a>
            <i class="fa fa-exclamation-circle m-r-sm"> </i>
            <%= get_flash(@conn, :error) %>
          </div>
        <% end %>

        <%= if get_flash(@conn, :notice) do %>
          <div class="alert alert-block alert-info">
            <a class="close pull-right" data-dismiss="alert" href="#">×</a>
            <i class="fa fa-exclamation-circle m-r-sm"> </i>
            <%= get_flash(@conn, :notice) %>
          </div>
        <% end %>
        <%= @inner %>
        </div>
      </div>
      <div class="grid-block noscroll" id="log-wrapper">
        <div class="grid-content" id="log-content">
        </div>
      </div>
    </div>
  </body>
</html>