<!DOCTYPE html>
<html lang="en" class="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= app_name %> | <%= @page_title || "Administrasjon" %></title>
    <link rel="stylesheet" href="/static/brando/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/brando/css/brando.css">
    <%= css_extra(@conn) %>

    <script type="text/javascript" src="/static/brando/js/brando.vendor.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/brando/js/brando.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/brando/js/to-markdown.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/brando/js/markdown.min.js" charset="utf-8"></script>

    <script type="text/javascript" src="/static/brando/js/libs/backbone/underscore.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/brando/js/libs/backbone/backbone.js" charset="utf-8"></script>
    <!-- <script type="text/javascript" src="/static/brando/js/twined-backbone.js" charset="utf-8"></script> -->
    <%= js_extra(@conn) %>
  </head>

  <body<%= if @conn.private[:brando_section_name] do %> id="<%= @conn.private[:brando_section_name] %>" data-script="<%= @conn.private[:brando_section_name] %>-<%= @conn.private[:phoenix_action] %>"<% end %>>
    <main id="burger" class="show-for-small-only">
      <header>
        <button>☰</button>
      </header>
    </main>
    <div class="grid-frame">
      <div id="menu" class="collapse grid-content shrink">
        <div class="menu-profile">
          <!-- menu top with avatar & info -->
          <div class="avatar">
            <img src="<%= media_url(img(current_user(@conn).avatar, :thumb, "defaults/avatar_default.jpg")) %>" />
          </div>
          <div class="name">
            <%= current_user(@conn).full_name %>
          </div>
          <div class="role">
            Administrator
          </div>
        </div>
        <!-- nav -->
        <nav class="nav-primary hidden-xs">
          <ul class="nav">
            <%= for {color, menu} <- get_menus do %>
              <!-- menu item -->
                <li class="menuparent">
                  <a href="#<%= menu.anchor %>">
                    <i class="<%= menu.icon %>">
                      <b style="background-color: <%= color %>"></b>
                    </i>
                    <span class="pull-right">
                      <i class="fa fa-angle-down text"></i>
                      <i class="fa fa-angle-up text-active"></i>
                    </span>
                    <span><%= menu.name %></span>
                  </a>
                  <ul class="nav lt">
                  <%= for item <- menu.submenu do %>
                  <% url = menu_url(@conn, item.url) %>
                    <li class="menuitem <%= active_path(@conn, url) %>">
                      <a href="<%= url %>" class="<%= active_path(@conn, url) %>">
                        <i class="fa fa-angle-right"></i>
                        <span><%= item.name %></span>
                      </a>
                    </li>
                  <% end %>
                  </ul>
                </li>
              <!-- /menu item -->
            <% end %>
          </ul>
        </nav>
        <!-- / nav -->
        <script>
          // open the submenu.
          $('.menuitem.active').parent().parent().addClass('active');
        </script>
      <!-- /#menu -->
      </div>

      <div id="content-wrapper" class="grid-block noscroll">
        <div id="content" class="grid-content">
        <%= if get_flash(@conn, :error) do %>
          <div class="alert alert-block alert-danger">
            <a class="close pull-right" data-dismiss="alert" href="#">×</a>
            <i class="fa fa-exclamation-circle m-r-sm"> </i>
            <%= get_flash(@conn, :error) %>
          </div>
        <% end %>

        <%= if get_flash(@conn, :notice) do %>
          <div class="alert alert-block alert-info">
            <a class="close pull-right" data-dismiss="alert" href="#">×</a>
            <i class="fa fa-exclamation-circle m-r-sm"> </i>
            <%= get_flash(@conn, :notice) %>
          </div>
        <% end %>
        <%= @inner %>
        </div>
      </div>
      <div class="grid-block noscroll" id="log-wrapper">
        <div class="grid-content" id="log-content">
        </div>
      </div>
    </div>
  </body>
</html>

