                <%= render(Brando.ErrorView, "top.html", assigns) %>
                <h1 id="app-name">500</h1>
                <p><%= gettext("Application error") %></p>
                <%= render(Brando.ErrorView, "feedback.html", assigns) %>
                <%= render(Brando.ErrorView, "bottom.html", assigns) %>
