export BRANDO_DEFAULT_LANGUAGE="en"
export BRANDO_DB_URL="postgres://postgres:postgres@localhost/<%= application_name %>_dev"
export BRANDO_SECRET_KEY_BASE="<%= :crypto.strong_rand_bytes(64) |> Base.encode64 |> binary_part(0, 64)%>"

export BRANDO_URL_SCHEME="http"
export BRANDO_URL_HOST="localhost"
export BRANDO_URL_PORT="80"