    <h1>Endre post</h1>
    <%= PostForm.get_form(action: :update, params: [to_string(@id)], values: @post, errors: @errors) %>
    <script type="text/javascript">
      $(document).ready(function() {
        v = new Villain.Editor({
          browseURL: 'villain/bla/',
          uploadURL: 'villain/last-opp/',
          textArea: 'textarea[name="post[data]"]'
        });
      });
     </script>